<div class="product-heading">Размеры производителя и количество</div>
<div class="product-data-list">
    <div class="product-data-list-wrapper">
        <label>6EE</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>6C</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>6,5EE</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>M</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>L</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XXL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>3XL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>S</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>12,5EE</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>6EE</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>6C</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>6,5EE</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>M</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>L</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XXL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>3XL</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>S</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number" value="1">
    </div>
    <div class="product-data-list-wrapper">
        <label>12,5EE</label>
        <input type="number" value="1">
    </div>
</div>