<div id="cart-popup-1" class="popup cart cart-popup">
    <div class="container">
        <h3 class="cart-h3">Укажите соответствий размеров, номеров и фамилий</h3>
        <ul class="tabs">
            <li class="tab"><a href="#cart-popup-1_1" class="active">Общая информация о команде</a></li>
            <li class="tab"><a href="#cart-popup-1_2">Информация по отдельным позициям</a></li>
        </ul>
        <div id="cart-popup-1_1">
            <p><strong>Чтобы Вы не заполняли повторно информацию по персонализации для разных товаров<br>
                    Мы автоматически заполним страницы конкретных товаров в соответствии с размерами</strong><br>
                которые Вы укажите на этой странице и указали ранее. <br>
                Далее Вы можете уточнить подробности по каждому отдельному товару.</p>
            <form class="cart-popup-form" enctype="multipart/form-data">
                <div class="product-heading">Персонализация</div>
                <p>Вы указали, что вам нужна персонализация каждого человека, а именно, номера, фамилии и т.п.</p>
                <div class="product-heading no-bg primary">Нанести номера или фамилии?</div>
                <ul class="checkbox-inline">
                    <li><label><input type="radio" name="somename1" checked> Да</label></li>
                    <li><label><input type="radio" name="somename1"> Нет, только логотипы</label></li>
                </ul>
                <p><strong>Укажите параметры телосложения и мы автоматически подберем оптимальный размер.</strong></p>
                <p>Мы настоятельно рекомендуем заполнить эту информацию, во избежание неточностей при производстве.</p>
                <button class="btn btn-gold btn-lg btn-size">
                    <span>Как снять мерки
                        <i class="icon icon-btn-size"></i>
                    </span>
                </button>
                <div class="cart-popup-form-input-wrapper">
                    <div class="input-group">
                        <label class="size1">№<br>п.п.</label>
                        <label class="size2">Фамилия<br>игрока</label>
                        <label class="size3">Номер<br>игрока</label>
                        <label class="size3">Рост</label>
                        <label class="size3">Обхват<br>груди</label>
                        <label class="size3">Обхват<br>бедер</label>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper">
                    <p class="center-align"><strong>Игрок (основной)</strong></p>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="about-add">
                        <a href="#" >
                            <i class="icon icon-printable-add icon-middle"></i>
                            Добавить еще
                        </a>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper">
                    <p class="center-align"><strong>Вратарь (либеро) и т.д.</strong></p>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="about-add">
                        <a href="#" >
                            <i class="icon icon-printable-add icon-middle"></i>
                            Добавить еще
                        </a>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper cart-popup-form-input-wrapper__total">
                    <div class="input-group">
                        <label class="bebas size4">Общее количество</label>
                        <input class="size5" value="20">
                    </div>
                </div>
                <p>Далее, при оформлении конкретных товаров, вы можете удалить некоторые позиции или вносить в них изменения, косаемые отдельного товара.
                    Эта таблица изменена не будет</p>

                <div class="product-heading">Общая концепция дизайна для всего заказа</div>
                <p><strong>Описание общего для всех товаров дизайна (общая концепция для всего заказа)</strong></p>
                <div class="cart-popup-form-input-wrapper">
                    <textarea></textarea>
                </div>

                <div class="product-heading">Загрузка файлов</div>
                <p>Здесь Вы можете загрузить все сопутствующие вашему заказу файлы: логотипы, шрифты, рисунки, таблицы и т.п.</p>
                <div class="cart-popup-form-input-wrapper cart-popup-form-input-wrapper__file">
                    <div class="input-group">
                        <input type="file" data-placeholder="" data-browse="" multiple>
                        <button class="file-upload-submit">Загрузить</button>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-blue btn-md btn-submit">
                        <span>Применить эту информацию ко всем позициям</span>
                    </button>
                </div>
            </form>
        </div>
        <div id="cart-popup-1_2">
            <div class="cart-popup-slider">
                <div class="slide">
                    <div class="cart-item">
                        <div class="cart-item-info cart-item__centered">
                            <div class="cart-item-inner">
                                <div class="cart-item-info-title">
                                    Комплект женской
                                    волейбольной формы на заказ
                                </div>
                                <dl class="cart-item-info-list">
                                    <dt>Модель:</dt>
                                    <dd>Б-12 Анатомический</dd>
                                    <dt>Тип модели:</dt>
                                    <dd>Анатомический</dd>
                                    <dt>Пол:</dt>
                                    <dd>Мужской</dd>
                                    <dt>Возраст:</dt>
                                    <dd>Взрослый</dd>
                                    <dt>Тип нанесений:</dt>
                                    <dd><span class="blue">Полная сублимация</span></dd>
                                    <dt>Тип модели:</dt>
                                    <dd>Анатомический</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="cart-item-design cart-item__centered">
                            <div class="product-heading">Дизайн</div>
                            <div class="cart-item-inner">
                                <img src="img/product/cart8.jpg" alt="alt text">
                                <p class="cart-item-design-text">
                                    Стандартный дизайн #1
                                    <a href="#" class="cart-item-link">изменить</a>
                                </p>
                            </div>
                        </div>
                        <div class="cart-item-color cart-item__centered">
                            <div class="product-heading">Цвет</div>
                            <div class="cart-item-inner">
                                <div class="cart-item-input-color-wrapper__primary">
                                    <div class="cart-item-label"><strong>Основной</strong></div>
                                    <div class="cart-item-input-color cart-item-input-color" style="background-color: red"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.1</div>
                                    <div class="cart-item-input-color" style="background-color: blue"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.2</div>
                                    <div class="cart-item-input-color" style="background-color: white"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.3</div>
                                    <div class="cart-item-input-color" style="background-color: blueviolet"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item-material cart-item__centered">
                            <div class="product-heading">Материалы</div>
                            <div class="cart-item-inner">
                                <div class="cart-item-label"><strong>Основной</strong></div>
                                <select class="cart-item-select">
                                    <option>Интерлок 130 г/м³</option>
                                    <option>Интерлок 140 г/м³</option>
                                    <option>Интерлок 150 г/м³</option>
                                </select>
                                <div class="cart-item-label"><strong>Дополнительный</strong><br>(вставки или часть вставок)</div>
                                <select class="cart-item-select">
                                    <option>Как основной</option>
                                    <option>Интерлок 140 г/м³</option>
                                    <option>Интерлок 150 г/м³</option>
                                </select>
                            </div>
                        </div>
                        <div class="cart-item-print cart-item__centered">
                            <div class="product-heading">Доп. нанесения</div>
                            <div class="cart-item-inner">
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option>Пленка</option>
                                    <option>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option selected>Шеврон</option>
                                    <option>Пленка</option>
                                    <option>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option selected>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option selected>Пленка</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="cart-item">
                        <div class="cart-item-info cart-item__centered">
                            <div class="cart-item-inner">
                                <div class="cart-item-info-title">
                                    Комплект женской
                                    волейбольной формы на заказ
                                </div>
                                <dl class="cart-item-info-list">
                                    <dt>Модель:</dt>
                                    <dd>Б-12 Анатомический</dd>
                                    <dt>Тип модели:</dt>
                                    <dd>Анатомический</dd>
                                    <dt>Пол:</dt>
                                    <dd>Мужской</dd>
                                    <dt>Возраст:</dt>
                                    <dd>Взрослый</dd>
                                    <dt>Тип нанесений:</dt>
                                    <dd><span class="blue">Полная сублимация</span></dd>
                                    <dt>Тип модели:</dt>
                                    <dd>Анатомический</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="cart-item-design cart-item__centered">
                            <div class="product-heading">Дизайн</div>
                            <div class="cart-item-inner">
                                <img src="img/product/cart9.jpg" alt="alt text">
                                <p class="cart-item-design-text">
                                    Стандартный дизайн #1
                                    <a href="#" class="cart-item-link">изменить</a>
                                </p>
                            </div>
                        </div>
                        <div class="cart-item-color cart-item__centered">
                            <div class="product-heading">Цвет</div>
                            <div class="cart-item-inner">
                                <div class="cart-item-input-color-wrapper__primary">
                                    <div class="cart-item-label"><strong>Основной</strong></div>
                                    <div class="cart-item-input-color cart-item-input-color" style="background-color: red"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.1</div>
                                    <div class="cart-item-input-color" style="background-color: blue"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.2</div>
                                    <div class="cart-item-input-color" style="background-color: white"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                                <div class="cart-item-input-color-wrapper">
                                    <div class="cart-item-label">Дополнит.3</div>
                                    <div class="cart-item-input-color" style="background-color: blueviolet"></div>
                                    <a href="#" class="cart-item-link">изменить</a>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item-material cart-item__centered">
                            <div class="product-heading">Материалы</div>
                            <div class="cart-item-inner">
                                <div class="cart-item-label"><strong>Основной</strong></div>
                                <select class="cart-item-select">
                                    <option>Интерлок 130 г/м³</option>
                                    <option>Интерлок 140 г/м³</option>
                                    <option>Интерлок 150 г/м³</option>
                                </select>
                                <div class="cart-item-label"><strong>Дополнительный</strong><br>(вставки или часть вставок)</div>
                                <select class="cart-item-select">
                                    <option>Как основной</option>
                                    <option>Интерлок 140 г/м³</option>
                                    <option>Интерлок 150 г/м³</option>
                                </select>
                            </div>
                        </div>
                        <div class="cart-item-print cart-item__centered">
                            <div class="product-heading">Доп. нанесения</div>
                            <div class="cart-item-inner">
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option>Пленка</option>
                                    <option>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option selected>Шеврон</option>
                                    <option>Пленка</option>
                                    <option>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option selected>Пленка</option>
                                </select>
                                <select class="cart-item-select">
                                    <option>Аппликация с вышивкой</option>
                                    <option>Шеврон</option>
                                    <option selected>Пленка</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="cart-popup-form" enctype="multipart/form-data">
                <div class="product-heading">Персонализация</div>
                <p>Если Вам нужна персонализация каждого человека, а именно, номера, фамилии и т.п. 
                    <br>укажите это. </p>
                <div class="product-heading no-bg primary">Нанести номера или фамилии?</div>
                <ul class="checkbox-inline">
                    <li><label><input type="radio" name="somename2" checked> Да</label></li>
                    <li><label><input type="radio" name="somename2"> Нет, только логотипы</label></li>
                </ul>
                <button class="btn btn-gold btn-lg btn-size">
                    <span>Как снять мерки
                        <i class="icon icon-btn-size"></i>
                    </span>
                </button>
                <p><strong>Изменения которые Вы тут внесете будут касаться только данного товара</strong></p>
                <div class="cart-popup-form-input-wrapper">
                    <div class="input-group">
                        <label class="size1">№<br>п.п.</label>
                        <label class="size2">Фамилия<br>игрока</label>
                        <label class="size3">Номер<br>игрока</label>
                        <label class="size3">Рост</label>
                        <label class="size3">Обхват<br>груди</label>
                        <label class="size6 cart-popup-form-input-blue">Рост /<br>размер</label>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper">
                    <p class="center-align"><strong>Игрок (основной)</strong></p>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="about-add">
                        <a href="#" >
                            <i class="icon icon-printable-add icon-middle"></i>
                            Добавить еще
                        </a>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper">
                    <p class="center-align"><strong>Вратарь (либеро) и т.д.</strong></p>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label class="size1">000</label>
                        <input class="size2" placeholder="Фамилия">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size3" placeholder="000">
                        <input class="size6 cart-popup-form-input-blue" placeholder="000" value="170 / 46">
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="about-add">
                        <a href="#" >
                            <i class="icon icon-printable-add icon-middle"></i>
                            Добавить еще
                        </a>
                    </div>
                </div>
                <div class="cart-popup-form-input-wrapper cart-popup-form-input-wrapper__total">
                    <div class="input-group">
                        <label class="bebas size4">Общее количество</label>
                        <input class="size5" value="20">
                    </div>
                </div>

                <div class="product-heading">Дизайн</div>
                <p><strong>Описание желаемого дизайна в свободной форме</strong></p>
                <div class="cart-popup-form-input-wrapper">
                    <textarea></textarea>
                </div>

                <div class="product-heading">Загрузка файлов</div>
                <p>Здесь Вы можете загрузить все сопутствующие вашему заказу файлы: логотипы, шрифты, рисунки, таблицы и т.п.</p>
                <div class="cart-popup-form-input-wrapper cart-popup-form-input-wrapper__file">
                    <div class="input-group">
                        <label>Логотип.cdr</label>
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label>Логотип.cdr</label>
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label>Логотип.cdr</label>
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <label>Логотип.cdr</label>
                        <a href="#" class="cart-popup-form-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="input-group">
                        <input type="file" data-placeholder="" data-browse="" multiple>
                        <button class="file-upload-submit">Загрузить</button>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-blue btn-md btn-submit">
                        <span>Сохранить и перейти к следующему</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>