<div class="container">
    <div class="row product-list catalog-slider">
        <div class="col s20">
            @@include('./product-list-item-2.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-3.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-4.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-1.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-2.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-2.html')
        </div>
        <div class="col s20">
            @@include('./product-list-item-3.html')
        </div>
    </div>
</div>