<div class="container">
    <div class="row product-list catalog-slider">
        <div class="col s20">
            @@include('./product-list-item-2.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-3.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-4.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-1.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-2.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-2.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
        <div class="col s20">
            @@include('./product-list-item-3.html', {
                                "fav": 0,
                                "wait": 0
                                })
        </div>
    </div>
</div>