<div class="design-sel__list__item">
    <div class="design-sel__list__item__inner">
        <span class="design-sel__list__item__h">Стандартный дизайн #@@num</span>
        <div class="design-sel__list__item__img">
            <img src="img/product/@@img.jpg" alt="alt-text">
            <a href="#" class="design-sel__list__item__img__a"><i class="icon icon-view-3d"></i></a>
        </div>
        <div class="design-sel__list__item__colors">
            <span class="active" style="background-color: yellow"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
            <span style="background-color: blue"></span>
            <span style="background-color: green"></span>
        </div>
        <span class="design-sel__list__item__f">
            <a class="btn btn-md btn-green"><span>Выбрать</span></a>
        </span>
    </div>
</div>