<header>
    
    <div class="container">
        <div class="header-region">
            Ваш регион: <span class="header-region-name">Нижний Новгород</span>
            <a href="#" class="header-region-select" data-fancybox="" data-src="#region-select-popup">Пункты выдачи</a>
        </div>
        <div class="header-phone">
            Бесплатный звонок: <a href="tel:88007004589">8-800-700-45-89</a>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="header-catalog">
                <div class="header-catalog-switcher">
                    <a href="catalog.html" class="header-catalog-a">Каталог товаров</a>
                    @@include('./menu.html')
                </div>
                <form class="header-search">
                    <input type="text" placeholder="Введите название рубрики или товара">
                </form>
            </div>
            <a href="cart.html" class="header-basket">
                В корзине <span class="header-basket-counter">999</span>
            </a>
            <div class="header-user">
                <a href="office.html">Личный кабинет</a> 
                <a href="#" data-fancybox="" data-src="#login-popup">Вход/регистрация</a>
                <a href="#" title="Выйти"><i class="icon icon-logout"></i></a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <a href="index.html" class="header-logo">
                <img src="img/logo.svg" alt="Escaper" title="на главную">
            </a>
            <ul class="header-menu">
                <li><a href="#" class="btn btn-gold"><span>Акции / Скидки</span></a></li>
                <li><a href="#" class="btn btn-gold"><span>Корпоративным командам</span></a></li>
                <li><a href="catalog1.html" class="btn btn-gold"><span>Форма на заказ</span></a></li>
                <li><a href="share.html" class="btn btn-gold"><span>Макеты в общем доступе</span></a></li>
            </ul>
        </div>
    </div>
</header>