<div class="map">
    @@if (header == true) {
        <p class="page-introtext">
            Ваш регион: <span class="bebas"><strong>Нижний Новгород</strong></span>
            <a class="btn btn-gold btn-lg" data-fancybox="" data-src="#region-select-popup"><span>Выбрать другой регион</span></a>
        </p>
    }

    <div class="product-heading">@@title</div>

    <div class="map-wrapper">
        <div id="@@id" class="map-content"></div>
        <div class="points js-scrollbar scrollbar-outer">
            <div class="points-item" data-lat="56.331201" data-lng="43.943440">
                <div class="points-item-title">Россия, Нижний Новгород, Гордеевская улица, 7, оф.117</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">СДЭК</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
            <div class="points-item" data-lat="56.329922" data-lng="43.905447">
                <div class="points-item-title">Россия, Нижний Новгород, Гордеевская улица, 7, оф.117</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">СДЭК</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
            <div class="points-item" data-lat="56.310132" data-lng="43.902655">
                <div class="points-item-title">Россия, Нижний Новгород, Ковалихинская, д. 8</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">FEDEX</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
            <div class="points-item" data-lat="56.314171" data-lng="43.936885">
                <div class="points-item-title">Россия, Нижний Новгород, Ковалихинская, д. 8</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">FEDEX</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
            <div class="points-item" data-lat="56.322384" data-lng="43.931059">
                <div class="points-item-title">Россия, Нижний Новгород, Ковалихинская, д. 8</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">FEDEX</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
            <div class="points-item" data-lat="56.306110" data-lng="43.872504">
                <div class="points-item-title">Россия, Нижний Новгород, Ковалихинская, д. 8</div>
                <div class="points-item-time">Открыто до 20:00
                    <dl>
                        <dt>Понедельник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Вторник</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Среда</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Четверг</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Пятница</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Суббота</dt>
                        <dd>10:00 – 20:00</dd>
                        <dt>Воскресенье</dt>
                        <dd>10:00 – 20:00</dd>
                    </dl>
                </div>
                <div class="points-item-phone">
                    <ul>
                        <li>+7 (831) 214-08-80</li>
                        <li>8 (800) 250-04-05</li>
                    </ul>
                </div>
                <div class="points-item-web">
                    <a href="//www.cdek.ru">www.cdek.ru</a>
                    <span class="bebas">FEDEX</span>
                    <span class="narrow">Курьерские услуги, автомобильные грузоперевозки</span>
                </div>
            </div>
        </div>
    </div>

</div>