<div class="menu-wrapper">
    <div class="container">
        <div class="menu">
            <ul>
                <li>
                    Избранное
                    <ul class="level-1 favorites">
                        <li>
                            <div class="menu-a-wrapper">
                                <span class="remove-from-fav" title="Удалить"></span><a href="#">Хоккей</a>
                            </div>
                            @@include('./menu-level-3.html')
                        </li>
                        <li>
                            <div class="menu-a-wrapper">
                                <span class="remove-from-fav" title="Удалить"></span><a href="#">Волейбол</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-a-wrapper">
                                <span class="remove-from-fav" title="Удалить"></span><a href="#">Футбол</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-a-wrapper">
                                <span class="remove-from-fav" title="Удалить"></span><a href="#">Баскетбол</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    По видам спорта
                    <ul class="level-1">
                        <li class="">
                            <div class="menu-a-wrapper"><a href="#">Командные</a></div>
                            <ul class="sub-menu">
                                <li>
                                    На льду
                                    <ul class="level-2">
                                        <li data-alphabet="Х" class="">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Хоккей</strong></a>
                                            </div>
                                            @@include('./menu-level-3.html')
                                        </li>
                                        <li data-alphabet="Х">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Хоккей с мячом (бенди)</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="К">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Керлинг</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    В зале
                                    <ul class="level-2">
                                        <li data-alphabet="В">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Волейбол</strong></a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Б">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Баскетбол</strong></a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Г">
                                            <div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Гандбол</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Ф">
                                            <div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Флорбол</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Ч">
                                            <div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Чирлидинг</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    На траве
                                    <ul class="level-2">
                                        <li data-alphabet="Ф">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Футбол</strong></a>
                                            </div>
                                        </li>
                                        <li data-alphabet="А">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Американский футбол</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Р">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Регби</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="П">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Пейнтбол</strong></a></li>
                                        <li data-alphabet="Х">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Хоккей на траве</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Л">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Лакросс</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="Б">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Бейсбол</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="С">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Софтбол</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="К">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Крикет</a>
                                            </div>
                                        </li>
                                        <li data-alphabet="К">
                                            <div class="menu-a-wrapper">
                                                <span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Крокет</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    В воде
                                    <ul class="level-2">
                                        <li data-alphabet="В"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Водное поло</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Индивидуальные</a></div>
                            <ul class="sub-menu">
                                <li>
                                    На льду
                                    <ul class="level-2">
                                        <li data-alphabet="Ф"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Фигурное катание</strong></a></li>
                                        <li data-alphabet="К"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Конькобежный спорт</a></li>
                                    </ul>
                                </li>
                                <li>
                                    На снегу
                                    <ul class="level-2">
                                        <li data-alphabet="Б"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Беговые лыжи</strong></a></li>
                                        <li data-alphabet="Г"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Горные лыжи</a></li>
                                        <li data-alphabet="С"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Сноуборд</a></li>
                                        <li data-alphabet="П"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Прыжки с трамплина</a></li>
                                    </ul>
                                </li>
                                <li>
                                    На корте
                                    <ul class="level-2">
                                        <li data-alphabet="Б"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Большой теннис</a></li>
                                        <li data-alphabet="Н"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Настрольный теннис</a></li>
                                        <li data-alphabet="Б"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Бадминтон</a></li>
                                    </ul>
                                </li>
                                <li>
                                    Наездник
                                    <ul class="level-2">
                                        <li data-alphabet="В"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Велоспорт</strong></a></li>
                                        <li data-alphabet="М"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Мотоспорт</a></li>
                                        <li data-alphabet="А"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Автоспорт</a></li>
                                        <li data-alphabet="К"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Конный спорт</a></li>
                                    </ul>
                                </li>
                                <li>
                                    На атлетическом манеже
                                    <ul class="level-2">
                                        <li data-alphabet="Б"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Бег</strong></a></li>
                                        <li data-alphabet="Г"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Гимнастика</a></li>
                                        <li data-alphabet="Л"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Легкая атлетика</a></li>
                                        <li data-alphabet="Т"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Тяжелая атлетика</a></li>
                                    </ul>
                                </li>
                                <li>
                                    В воде
                                    <ul class="level-2">
                                        <li data-alphabet="П"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Плавание</a></li>
                                        <li data-alphabet="Г"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Гребля</a></li>
                                        <li data-alphabet="С"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Спортивная рыбалка</a></li>
                                        <li data-alphabet="Т"><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Тяжелая атлетика</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Единоборства</a></div>
                            <ul class="sub-menu">
                                <li>
                                    Единоборства
                                    <ul class="level-2">
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Бокс</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">ММА</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Тхэквондо</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Каратэ</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Дзюдо</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Борьба</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Айкидо</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Джиу-джитсу</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Самбо</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Хапкидо</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Кикбоксинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Фехтование</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Тайский бокс</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">В спортклубе</a></div>
                            <ul class="sub-menu">
                                <li>
                                    В спортивном клубе
                                    <ul class="level-2">
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Фитнес</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Армрестлинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Гольф</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Боулинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Бильярд</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Дартс</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Киберспорт</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Шахматы, шашки</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Стрельба</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Танцы</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Настольный хоккей</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Спортивная рыбалка</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Экстримальные</a></div>
                            <ul class="sub-menu">
                                <li>
                                    В воде
                                    <ul class="level-2">
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Дайвинг</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Серфинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Кайтинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Водные лыжи</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Парусный спорт</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Гидроцикл</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Флайборд</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Вейкбординг</a></li>
                                    </ul>
                                </li>
                                <li>
                                    На земле
                                    <ul class="level-2">
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Альпинизм</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Спортивный туризм</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#"><strong>Ролики</strong></a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Бокинг</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Паркур</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Скейтборд</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">BMX</a></li>
                                    </ul>
                                </li>
                                <li>
                                    В воздухе
                                    <ul class="level-2">
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Парашютный спорт</a></li>
                                        <li><div class="menu-a-wrapper"><span class="add-to-fav" title="Добавить в избранное"></span><a href="#">Парапланеризм</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Повседневный спортивный стиль
                    <ul class="level-1">
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Для мужчин</a></div>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Для женщин</a></div>
                        </li>
                        <li>
                            <div class="menu-a-wrapper"><a href="#">Для детей</a></div>
                        </li>
                    </ul>
                </li>
                <li>
                    По алфавиту
                    <ul class="alphabet">
                    </ul>
                    <ul class="sub-menu alphabet-wrapper">
                        <li>
                            Виды спорта на букву <span class="alphabet-letter"></span>
                            <ul class="level-2 alphabet-items"></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>