<div class="level-3">
    <div class="level-3-header">Хоккей</div>
    <div class="level-3-wrapper js-scrollbar scrollbar-outer">
        <ul>
            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Хоккейный свитер на заказ</a>
                <span class="level-3-muted">(151)</span>
            </li>
            <li>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Хоккейный свитер готовый</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-plus"></i>
                <a href="#">Гамаши</a>
                <span class="level-3-muted">(18)</span>
                <ul class="level-3-hidden">
                    <li>
                        <a href="#">Анатомический</a>
                        <span class="level-3-muted">(8)</span>
                    </li>
                    <li>
                        <a href="#">Тренировочный</a>
                        <span>(10)</span>
                    </li>
                    <li>
                        <a href="#">Чехол на хоккейные шорты на заказ</a>
                        <span class="level-3-muted">(18)</span>
                    </li>
                </ul>
            </li>
            <li>
                <i class="icon icon-menu-minus"></i>
                <a href="#">Чехол на хоккейные шорты на заказ</a>
                <span class="level-3-muted">(18)</span>
                <ul>
                    <li>
                        <i class="icon icon-menu-minus"></i>
                        <a href="#">Коньки</a>
                        <span class="level-3-muted">(151)</span>
                        <ul>
                            <li>
                                <a href="#">Коньки1</a>
                                <span>(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки2</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                            <li>
                                <a href="#">Коньки3</a>
                                <span class="level-3-muted">(151)</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Коньки</a>
                        <span>(151)</span>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>