<div class="accordion-item orders-complete-item @@if (closed == 1) { closed }">
    <ul class="accordion-item-heading">
        <li>№ Заказа <strong>Sd9249</strong></li>
        <li>Дата <strong>03.04.2017</strong></li>
        <li>Товары <strong>35 шт.</strong></li>
        <li>Сумма <strong>124 000 руб.</strong></li>
    </ul>
    <div class="accordion-item-inner">
        <table class="orders-complete-item-table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th>Макет</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="orders-complete-item-table-articul">GFRHS</td>
                    <td class="orders-complete-item-table-name">Коньки хоккейные</td>
                    <td class="orders-complete-item-table-count">15 шт.</td>
                    <td class="orders-complete-item-table-price">24 000 руб.</td>
                    <td class="orders-complete-item-table-maket"></td>
                    <td class="orders-complete-item-table-checkbox"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td class="orders-complete-item-table-articul">SD1234JG</td>
                    <td class="orders-complete-item-table-name">Майка баскетбольная на заказ</td>
                    <td class="orders-complete-item-table-count">20 шт.</td>
                    <td class="orders-complete-item-table-price">24 000 руб.</td>
                    <td class="orders-complete-item-table-maket"><a href="#" class="orders-complete-item-table-btn">Посмотреть</a></td>
                    <td class="orders-complete-item-table-checkbox"><input type="checkbox" checked></td>
                </tr>
                <tr>
                    <td class="orders-complete-item-table-articul">SD1234JG</td>
                    <td class="orders-complete-item-table-name">Шорты баскетбольные на заказ</td>
                    <td class="orders-complete-item-table-count">20 шт.</td>
                    <td class="orders-complete-item-table-price">24 000 руб.</td>
                    <td class="orders-complete-item-table-maket"><a href="#" class="orders-complete-item-table-btn">Посмотреть</a></td>
                    <td class="orders-complete-item-table-checkbox"><input type="checkbox"></td>
                </tr>
            </tbody>
        </table>
        <div class="orders-complete-item-footer">
            Выделите нужные товары:
            <button>Повторно заказать</button>
        </div>
    </div>
</div>