<div id="product-request-discount-popup" class="popup product-question-popup">
    <div class="container">
        
        <div class="product-popup-title">Пожалуйста, сделайте скидку!</div>
        <div class="product-question-popup-product">Хоккейные коньки Bauer Supreme TotalOne MX3 JR</div>
        
        <form>
            <div class="row">
                <div class="col s4">
                    <label>Имя*
                        <span>Как Вас зовут?</span>
                    </label>
                    <input type="text" required>
                </div>
                <div class="col s4">
                    <label>E-mail</label>
                    <input type="email" required>
                </div>
                <div class="col s4">
                    <label>Телефон</label>
                    <input type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="wrapper">
                        <label>Сообщение
                            <span><span id="product-request-discount-counter">0</span>/1000</span>
                        </label>
                        <textarea class="responce" data-max="1000" data-counter="#product-request-discount-counter"></textarea>
                    </div>
                </div>
            </div>
            <div class="center-align">
                <button class="btn btn-blue"><span>Отправить запрос</span></button>
            </div>
        </form>

    </div>
</div>