<h3 class="product-heading">Оригинальные размеры и количество</h3>
<p class="center-align narrow product-discount">
    Скидки на количество от:
    <span class="bebas gold">10</span>
    <span class="bebas gold">30</span>
    <span class="bebas gold">50</span>
    <span class="bebas gold">100</span>
    <span class="bebas gold">200</span>
    шт.
</p>
<div class="product-data-list size">
    <div class="product-data-list-wrapper">
        <label>Размер</label>
        <label>Количество</label>
    </div>
    <div class="product-data-list-wrapper">
        <label>6EE</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>6C</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>6,5EE</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>M</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper active">
        <label>L</label>
        <input type="number" value="10">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper disabled">
        <label>XL</label>
        <input type="number" disabled>
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="not-available"><strong>Сейчас этого товара нет</strong><br>
                    Вы можете добавить его<br>
                    в <span>Лист ожидания</span></div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper active">
        <label>XXL</label>
        <input type="number" value="20">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>3XL</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>XS</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>S</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>2XS</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
    <div class="product-data-list-wrapper">
        <label>12,5EE</label>
        <input type="number">
        <div class="tooltip">
            <div class="tooltip-size">
                <div class="available">В наличии на складе</div>
                <div>Российский размер: <span>43</span><br>
                    Длина стопы, в см: <span>27,5 - 28</span></div>
            </div>
        </div>
    </div>
</div>
<div class="product-data-list-hidden">
    <div class="product-data-list size">
        <div class="product-data-list-wrapper">
            <label>Размер</label>
            <label>Количество</label>
        </div>
        <div class="product-data-list-wrapper">
            <label>6EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>6C</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>6,5EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>M</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper active">
            <label>L</label>
            <input type="number" value="10">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper disabled">
            <label>XL</label>
            <input type="number" disabled>
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="not-available"><strong>Сейчас этого товара нет</strong><br>
                        Вы можете добавить его<br>
                        в <span>Лист ожидания</span></div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper active">
            <label>XXL</label>
            <input type="number" value="20">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>3XL</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>2XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>S</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>2XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>12,5EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-data-list size">
        <div class="product-data-list-wrapper">
            <label>Размер</label>
            <label>Количество</label>
        </div>
        <div class="product-data-list-wrapper">
            <label>6EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>6C</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>6,5EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>M</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper active">
            <label>L</label>
            <input type="number" value="10">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper disabled">
            <label>XL</label>
            <input type="number" disabled>
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="not-available"><strong>Сейчас этого товара нет</strong><br>
                        Вы можете добавить его<br>
                        в <span>Лист ожидания</span></div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper active">
            <label>XXL</label>
            <input type="number" value="20">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>3XL</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>2XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>S</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>2XS</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
        <div class="product-data-list-wrapper">
            <label>12,5EE</label>
            <input type="number">
            <div class="tooltip">
                <div class="tooltip-size">
                    <div class="available">В наличии на складе</div>
                    <div>Российский размер: <span>43</span><br>
                        Длина стопы, в см: <span>27,5 - 28</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-style-1 center-align">
    <a class="product-data-show-all" href="#" 
       data-text-show="Показать все размеры"
       data-text-hide="Скрыть">
        <i class="icon icon-product-size-show-all"></i>
        <span>Показать все размеры</span>
    </a>
</div>
<p class="center-align">
    <button data-fancybox data-src="#size-popup" class="btn btn-gold btn-lg">
        <span>Определить размер
            <i class="icon icon-btn-size"></i>
        </span>
    </button>
</p>