<div class="product-list-item">
    <span class="product-discount discount-10"></span>
    <div class="product-list-item-rating">
        <i class="fa fa-star"></i>4.8</div>
    <a href="product.html">
        <img src="img/product/1.jpg" alt="Product">
    </a>
    <a href="product.html" class="product-list-item-pagetitle">
        Хоккейные коньки Bauer Supreme TotalOne MX3 JR
    </a>
    <div class="product-list-item-brand">
        Bauer
    </div>
    @@if (wait == 0) {
    <div class="product-list-item-price primary">
        <del>2 200</del> 1 980 <i class="icon icon-rub-grid"></i>
    </div>
    <div class="product-list-item-available yes">
        В наличии на складе
    </div>
    }
    @@if (wait == 1) {
    <div class="product-list-item-wait">Ожидается</div>
    <div class="product-list-item-available not">
        Временно нет в наличии
    </div>
    }
    <div class="product-list-item-extended">
        @@if (wait == 0) {
        <form>
            <button class="btn add">В корзину</button>
        </form>
        }
        <div class="product-list-item-size">
            Размеры производителя
            <ul>
                <li>6.5EE</li>
                <li>6.5D</li>
                <li>6.5C</li>
                <li>6.5R</li>
                <li>6.5EE</li>
                <li>6.5D</li>
                <li>6.5C</li>
                <li>6.5R</li>
                <li>6.5C</li>
                <li>6.5R</li>
                <li>6.5EE</li>
                <li>6.5D</li>
                <li>6.5C</li>
                <li>6.5R</li>
                <li>6.5EE</li>
            </ul>
            <a href="#">Показать все размеры</a>
        </div>
        <dl class="product-list-item-data">
            <dt>Квалификация:</dt>
            <dd>Профессиональные</dd>
            <dt>Термоформируемые:</dt>
            <dd>Да</dd>
        </dl>
        <div class="clearfix"></div>
        @@if (fav == 1 || wait == 1) {
        <button class="btn remove">Удалить</button>
        }
    </div>
</div>