<div class="product-list-item order">
    <div class="product-list-item-print-order">
        <span>Нанесения</span>
        Термопленки
    </div>
    <a href="product.html">
        <img src="img/product/8.jpg" alt="Product">
    </a>
    <a href="product.html" class="product-list-item-pagetitle">
        Тренировочный хоккейный свитер на заказ
    </a>
    <div class="product-list-item-brand">
        Xs2 Тренировочный детский
    </div>
    <div class="product-list-item-price gold">
        <span>от</span> 700 <i class="icon icon-rub-grid-white"></i>
    </div>
    @@include('./product-list-item-order-extended.html')
</div>