<section class="product-related">
    <div class="product-related-h1">Не забудьте подобрать шорты</div>
    <div class="product-related-h2">Подобрать шорты</div>
    <div class="container">
        <div class="product-related-wrapper">
            <div class="row">
                <div class="col s6 right-align">
                    <div class="product-preview product-related-container">
                        <img src="img/product/16.jpg" alt="Product">
                        <a class="view-3d" href="#"><i class="icon icon-view-3d"></i></a>
                    </div>
                </div>
                <div class="col s6">
                    <div class="slider product-related-container">
                        <div class="product-slider-related">
                            <div class="slide">
                                <img src="img/product/18.jpg" alt="Product">
                            </div>
                            <div class="slide">
                                <img src="img/product/18.jpg" alt="Product">
                            </div>
                            <div class="slide">
                                <img src="img/product/18.jpg" alt="Product">
                            </div>
                            <a class="view-3d" href="#"><i class="icon icon-view-3d"></i></a>
                        </div>
                        <div class="product-related-title">
                            Шорты баскетбольные на заказ
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-related-info">
                <div class="col s6 right-align">
                    <div class="product-related-container center-align">
                        <button data-fancybox data-src="#size-popup" class="btn btn-gold btn-lg">
                            <span>Параметры размеров
                                <i class="icon icon-btn-size"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col s6">
                    <div class="product-related-container">
                        <dl>
                            <dt>Модель:</dt>
                            <dd>Б-12 Анатомический</dd>
                            <dt>Тип модели:</dt>
                            <dd>Анатомический</dd>
                            <dt>Пол:</dt>
                            <dd>Мужской</dd>
                            <dt>Возраст:</dt>
                            <dd>Взрослый</dd>
                            <dt>Тип нанесения:</dt>
                            <dd class="bebas">Полная сублимация</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="product-panel-wrapper product-data">
                <div class="row">
                    <div class="col s3">
                        <div class="product-panel">
                            <div class="product-panel_heading">Дизайн</div>
                            <div class="product-panel_content product-panel_content_design">
                                <div class="wrapper">
                                    <span class="select-design">Выбрать<br>дизайн</span>
                                </div>
                                <a href="#design-popup" data-fancybox data-src="#design-popup" class="product-panel_link">выбрать дизайн</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="product-panel">
                            <div class="product-panel_heading">Цветовое решение</div>
                            <div class="product-panel_content product-panel_content_color">
                                <ul class="product-colors">
                                    <li class="product-color-primary">
                                        <div class="product-panel-subtitle">Основной цвет</div>
                                        <span class="product-color"></span>
                                        <a class="product-color-select" href="#">изменить цвет</a>
                                    </li>
                                    <li class="product-color-optional">
                                        <div class="product-panel-subtitle">Дополнительные цвета
                                            <span>(цвета вставки или часть вставок)</span>
                                        </div>
                                        <ul>
                                            <li class="template">
                                                <span class="product-color"></span>
                                                <i class="icon icon-printable-remove js-color-remove"></i>
                                                <a class="product-color-select" href="#">выбрать цвет</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="product-color-add">
                                        <i class="icon icon-printable-add icon-middle js-color-add"></i>
                                        Добавить<br>
                                        дополнительный цвет
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="product-panel">
                            <div class="product-panel_heading">Материал</div>
                            <div class="product-panel_content product-panel_content_material">
                                <ul class="product-data-materials-list">
                                    <li>
                                        <div class="product-panel-subtitle">Основной</div>
                                        <div class="product-data-materials-list_input">
                                            Интерлок 130 г/м²
                                        </div>
                                        <a class="product-panel_link" href="#">изменить материал</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="product-panel">
                            <div class="product-panel_heading">Дополнительные нанесения</div>
                            <div class="product-panel_content product-panel_content_printable">
                                <ul class="product-printable">
                                    <!--                                                    <li class="product-printable-remove">
                                                                                            <span class="product-printable-input">Шеврон</span>
                                                                                            <i class="icon icon-printable-remove icon-middle js-printable-remove"></i>
                                                                                            <div class="product-printable-price"><span class="primary">+ от 200</span> рублей</div>
                                                                                        </li>
                                                                                        <li class="product-printable-remove">
                                                                                            <span class="product-printable-input">Шеврон</span>
                                                                                            <i class="icon icon-printable-remove icon-middle js-printable-remove"></i>
                                                                                            <div class="product-printable-price"><span class="primary">+ от 200</span> рублей</div>
                                                                                        </li>
                                                                                        <li class="product-printable-remove">
                                                                                            <span class="product-printable-input">Аппликация с вышивкой</span>
                                                                                            <i class="icon icon-printable-remove icon-middle js-printable-remove"></i>
                                                                                            <div class="product-printable-price"><span class="primary">+ от 200</span> рублей</div>
                                                                                        </li>-->
                                    <li>
                                        <div class="product-printable-add">
                                            <i class="icon icon-printable-add icon-middle js-printable-add"></i>
                                            Добавить дополнительное нанесение
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="product-panel">
                            <div class="product-panel_heading">Персонализация</div>
                            <div class="product-panel_content product-panel_content_personal">
                                <p>Если Вам нужна персонализация каждого человека, а именно, номера, фамилии и т.п. 
                                    укажите это. Таблица соответствий размеров и персональных отличий каждого человека заполняется в корзине</p>
                                <div class="product-heading no-bg">Нанести номера или фамилии?</div>
                                <ul class="product-data-checkbox">
                                    <li><label><input type="radio" name="somename1" checked> Да</label></li>
                                    <li><label><input type="radio" name="somename1"> Нет, только логотипы</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="product-panel">
                            <div class="product-panel_heading">Количество</div>
                            <div class="product-panel_content product-panel_content_count">
                                <p class="product-discount">
                                    Скидки на количество от:
                                    <span class="bebas gold">10</span>
                                    <span class="bebas gold">30</span>
                                    <span class="bebas gold">50</span>
                                    <span class="bebas gold">100</span>
                                    <span class="bebas gold">200</span>
                                    шт.
                                </p>
                                <div class="product-data-list-wrapper count">
                                    <input type="number" value="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-price">
                <div class="product-price-header">
                    Стоимость за единицу
                    <span class="product-price-price">1 980*</span>
                    <i class="icon icon-rub-grid-white"></i>
                </div>
                <div class="product-price-text">
                    * <span class="bebas"><strong>В стоимость уже включены нанесения</strong></span><br>
                    (номера, фамилии, логотипы и т.д.), кроме дополнительных
                </div>
                <a href="#" class="product-price-discount">
                    <span>Нужно еще дешевле? Звоните! Подберем вариант!</span>
                </a>
            </div>
            <div class="product-actions">
                <form class="add-to-cart">
                    <button class="btn btn-primary btn-lg">
                        <span>Добавить в корзину <i class="icon icon-basket"></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>