<div id="product-responce-popup" class="popup product-question-popup">
    <div class="container">

        <div class="product-popup-title">Ответить на вопрос</div>
        <div class="product-question-popup-product">Хоккейные коньки Bauer Supreme TotalOne MX3 JR</div>

        <div class="product-heading">Вопрос</div>
        <div class="wrapper question">
            <div class="product-question-popup-name">
                <strong>Алексей Исаенков</strong>, Москва
            </div>
            <div class="product-question-popup-question">
                Велосипедом доволен: бюджетный, достаточно надежный, легенький, хороший ход имеет. После падения на 30 км/час с горки заменил 
                сидение, велосипед конечно поцокал, но ничего не отлетело, правда передний обод завосьмерил, еще не возил в ремонт. Могу 
                порекомендовать как средство для покатушек в выходные в парке, где не всегда есть/хороший асфальт. По травке и грунтовке едет. Не 
                универсал (на работу ездить конечно можно но лучше взять туристический или даже городской. Я брал как первый после ашанбайков, 
                доволен. 
            </div>
        </div>

        <div class="product-heading">Текст ответа</div>
        <form>
            <div class="row">
                <div class="col s12">
                    <div class="wrapper">
                        <label class="counter">
                            <span><span id="product-responce-popup-counter">0</span>/1000</span>
                        </label>
                        <textarea class="responce" data-max="1000" data-counter="#product-responce-popup-counter"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label>Имя*
                        <span>Как Вас зовут?</span>
                    </label>
                    <input type="text">
                </div>
                <div class="col s4">
                    <label>Город
                        <span>Откуда Вы?</span>
                    </label>
                    <input type="text">
                </div>
                <div class="col s4">
                    <label>Возраст</label>
                    <input type="text">
                </div>
            </div>
            <div class="center-align">
                <button class="btn btn-blue"><span>Отправить ответ</span></button>
            </div>
        </form>

    </div>
</div>