<div class="product-list-item-extended">
    <div class="product-list-item-slider">
        <div class="slick-slider list-item-slider">
            <div class="slide">
                <img src="img/product/3-1-sm.jpg" alt="Product">
            </div>
            <div class="slide">
                <img src="img/product/3-2-sm.jpg" alt="Product">
            </div>
            <div class="slide">
                <img src="img/product/3-1-sm.jpg" alt="Product">
            </div>
            <div class="slide">
                <img src="img/product/3-2-sm.jpg" alt="Product">
            </div>
            <div class="slide">
                <img src="img/product/3-1-sm.jpg" alt="Product">
            </div>
        </div>
    </div>
    <div class="product-list-item-text">
        <p>
            <span>Тип нанесений:</span>
            - логотипы, номера, фамилии наносятся термопленкой
        </p>
        <p>
            <span>Особенности:</span>
            - двойная отстрочка по всем швам<br>
            - усиление на плечах<br>
            - удлиненный низ<br>
            - крепление к шортам<br>
            - сшивные полосы<br>
            - удлиненный низ<br>
        </p>
    </div>
    <div class="clearfix"></div>
</div>