<div class="product-list-item">
    <span class="product-discount discount-10"></span>
    <div class="product-list-item-rating">
        <i class="fa fa-star"></i>4.8</div>
    <a href="product.html">
        <img src="img/product/4.jpg" alt="Product">
    </a>
    <a href="product.html" class="product-list-item-pagetitle">
        Защита пальцев
    </a>
    <div class="product-list-item-brand">
        SPALDING
    </div>
    <div class="product-list-item-price gold">
        2 200 <i class="icon icon-rub-grid-white"></i>
    </div>
    <div class="product-list-item-available yes">
        В наличии на складе
    </div>
    <div class="product-list-item-extended">
        <form>
            <button class="btn">В корзину</button>
        </form>
        <div class="product-list-item-size">
            Размер производителя
            <ul>
                <li>One size</li>
            </ul>
        </div>
        <div class="product-list-item-color">
            Цвет
            <ul>
                <li class="white"></li>
                <li class="black"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>