<div class="product-data-list size">
    <div class="product-data-list-wrapper1 active">
        <label>Наличие</label>
        <label class="product-data-list-wrapper1-gray-bg">Размер</label>
        <label>Количество</label>
    </div>
    <div class="product-data-list-wrapper1 active available-medium">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">6EE</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">6C</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-small">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">6,5EE</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-small">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">M</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-none">
        <label>Под<br>заказ</label>
        <label class="product-data-list-wrapper1-gray-bg">L</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">XL</label>
        <input type="number" value="2" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">XXL</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">3XL</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active active available-small">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">2XS</label>
        <input type="number" value="999" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 active available-medium">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">XS</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-small">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">S</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-medium">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">2XS</label>
        <input type="number" min="0" max="999" value="2">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label>@@include('./available-status.html')</label>
        <label class="product-data-list-wrapper1-gray-bg">12,5EE</label>
        <input type="number" min="0" max="999" value="2">
    </div>
</div>