<div class="product-list-item">
    <span class="product-discount discount-10"></span>
    <div class="product-list-item-print">Нанесения</div>
    <div class="product-list-item-rating">
        <i class="fa fa-star"></i>4.8</div>
    <a href="product.html">
        <img src="img/product/3.jpg" alt="Product">
    </a>
    <a href="product.html" class="product-list-item-pagetitle">
        Майка для занятий фитнесом
    </a>
    <div class="product-list-item-brand">
        Nike
    </div>
    @@if (wait == 0) {
    <div class="product-list-item-price primary">
        <del>2 200</del> 1 980 <i class="icon icon-rub-grid"></i>
    </div>
    <div class="product-list-item-available yes">
        В наличии на складе
    </div>
    }
    @@if (wait == 1) {
    <div class="product-list-item-wait">Ожидается</div>
    <div class="product-list-item-available not">
        Временно нет в наличии
    </div>
    }
    <div class="product-list-item-extended">
        @@if (wait == 0) {
        <form>
            <button class="btn add">В корзину</button>
        </form>
        }
        <div class="product-list-item-size">
            Размер производителя
            <ul>
                <li>XS</li>
                <li>S</li>
                <li>XS</li>
                <li>S</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
                <li>XS</li>
                <li>S</li>
                <li>XS</li>
                <li>S</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
        </div>
        <div class="product-list-item-color">
            Цвет
            <ul>
                <li class="orange"></li>
                <li class="yellow"></li>
                <li class="white"></li>
                <li class="black"></li>
                <li class="purple darken-4"></li>
                <li class="purple"></li>
                <li class="green"></li>
                <li class="yellow darken-4"></li>
                <li class="blue lighten-3"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        @@if (fav == 1 || wait == 1) {
        <button class="btn remove">Удалить</button>
        }
    </div>
</div>