<div id="product-material" class="popup cart cart-popup product-material">
    <div class="container">
        <h3 class="cart-h3">Дополнительные нанесения левый рукав</h3>

        <ul class="tabs">
            <li class="tab"><a href="#product-material_5-1" class="active">Вышивка</a></li>
            <li class="tab"><a href="#product-material_5-2">Аппликация вышивкой</a></li>
        </ul>
        <div id="product-material_5-1">
            <div class="product-material-heading js-toggle-next closed"><span class="wrapper">Стоимость вышивки</span></div>
            <div class="product-material-price">
                <p><strong>Стоимость складывается из трех составляющих:</strong><br>
                    разработка программы на вышивку, учитывающая сложность вышивки (оплачивается один раз за один дизайн);<br>
                    количество стежков в вышивке; усложняющие элементы (вышивка металлизированной нитью, на ткани стрейч, ворсовых тканях или вышивка с эффектом 3D (Puff)).</p>
                <table class="_table">
                    <tr>
                        <th>Количество изделий</th>
                        <th>1-3 ед.</th>
                        <th>4-9 ед.</th>
                        <th>10-49 ед.</th>
                        <th>50-99 ед.</th>
                        <th>100-199 ед.</th>
                        <th>более 200 ед.</th>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">1</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">500</td>
                        <td class="bebas">350</td>
                        <td class="bebas">200</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">2</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">1000</td>
                        <td class="bebas">800</td>
                        <td class="bebas">500</td>
                        <td class="bebas">350</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">3</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">1500</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">700</td>
                        <td class="bebas">500</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">4</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">2000</td>
                        <td class="bebas">1200</td>
                        <td class="bebas">900</td>
                        <td class="bebas">700</td>
                        <td class="bebas">500</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Стоимость <strong>1000 стежков</strong>, руб.
                        </td>
                        <td class="bebas">15</td>
                        <td class="bebas">14</td>
                        <td class="bebas">13</td>
                        <td class="bebas">12</td>
                        <td class="bebas">11</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>металлизированной нитью</strong>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+25%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+25%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>из ткани стейч</strong>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+13%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+13%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка на <strong>ворсовых тканях</strong>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>с эффектом 3D (Puff)</strong>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                </table>
                <div class="_ap">
                    <p><strong>*Уровни сложности разработки программы на вышивку:</strong></p>
                    <ul>
                        <li>
                            <strong><span class="bebas blue">1</span> уровень сложности: </strong>
                            Один аппликационный слой в один цвет нити, отсутствие мелких деталей, размер до 100 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">2</span> уровень сложности: </strong>
                            Один аппликационный слой, с количеством цветов в дизайне до 6, отсутствие мелких деталей, размер до 400 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">3</span> уровень сложности: </strong>
                            Количество аппликационных слоев до 3х, с количеством цветов в дизайне до 6, присутствие мелких деталей, размер до 900 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">4</span> уровень сложности: </strong>
                            Количество аппликационных слоев более 3х, с количеством цветов в дизайне до 11, присутствие мелких деталей, размер до 2250 см²
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-material-print-list">
                <p><strong>Добавьте нужную вышивку</strong></p>
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Логотипа",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Надписи",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Фамилии",
                "added": 1,
                "load": 0,
                "loaded": 1,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Номера",
                "added": 0,
                "load": 0,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Логотипа спонсора",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Прочего нанесения",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
            </div>
        </div>
        <div id="product-material_5-2">
            <div class="product-material-introtext no-margin-bottom">
                <div class="_title js-toggle-next"><span class="wrapper">Немного об <span class="bebas blue"><strong>аппликации вышивкой</strong></span></span></div>
                <div class="_content">
                    <img class="right" src="img/product/application1.jpg" alt="al text">
                    <p>Аппликация вышивкой - представляет собой технологию, когда: кусочки ткани или другого материала (при этом могут использоваться 
                        разные цвета и формы), вырезанные специальным ЛАЗЕРОМ, нашиваются на вышивку либо ткань основу. В традиционной аппликации
                        срезы наложенных кусков ткани закрываются различными видами стежков. Технология аппликации позволяет снизить количество 
                        стежков, так как большая площадь заполняется кусочками другого материала. К тому же аппликация создаёт неповторимый декоративный 
                        эффект за счёт использования тканей разных текстур.</p>
                    <img class="left no-margin-bottom" src="img/product/application2.jpg" alt="alt text">
                    <p>Можно использовать несколько, последовательно налагаемых, слоев материалов, для достижения разноцветности и 
                        отличных эстетических свойств Вашего дизайна </p>
                    <div class="row flex">
                        <div class="col no-padding">
                            <p class="no-margin blue"><strong>Плюсы:</strong></p>
                            <ul class="no-margin-top">
                                <li>Минимальный тираж от 1 единицы;</li>
                                <li>Наилучший декоративный эффект на больших дизайнах.</li>
                            </ul>
                        </div>
                        <div class="col">
                            <p class="no-margin blue"><strong>Минусы:</strong></p>
                            <ul class="no-margin-top">
                                <li>Нет технической возможности вышить высокодеталезированный 
                                    дизайн с мелкими элементами, а также текст менее 5-7 мм высотой.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-material-heading js-toggle-next"><span class="wrapper">Стоимость вышивки</span></div>
            <div class="product-material-price">
                <p><strong>Стоимость складывается из трех составляющих:</strong><br>
                    разработка программы на вышивку, учитывающая сложность вышивки (оплачивается один раз за один дизайн);<br>
                    количество стежков в вышивке; длины лазерной резки аппликаций; площади аппликационного слоя; количества аппликационных слоев.</p>
                <table class="_table">
                    <tr>
                        <th>Количество изделий</th>
                        <th>1-3 ед.</th>
                        <th>4-9 ед.</th>
                        <th>10-49 ед.</th>
                        <th>50-99 ед.</th>
                        <th>100-199 ед.</th>
                        <th>более 200 ед.</th>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">1</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">500</td>
                        <td class="bebas">350</td>
                        <td class="bebas">200</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">2</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">1000</td>
                        <td class="bebas">800</td>
                        <td class="bebas">500</td>
                        <td class="bebas">350</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">3</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">1500</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">700</td>
                        <td class="bebas">500</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Разработка программы на вышивку<br>
                            <span class="bebas blue">4</span> уровня сложности*, руб.
                        </td>
                        <td class="bebas">2000</td>
                        <td class="bebas">1200</td>
                        <td class="bebas">900</td>
                        <td class="bebas">700</td>
                        <td class="bebas">500</td>
                        <td><span class="bebas green">Бесплатно</span></td>
                    </tr>
                    <tr>
                        <td>
                            Стоимость <strong>1000 стежков</strong>, руб.
                        </td>
                        <td class="bebas">15</td>
                        <td class="bebas">14</td>
                        <td class="bebas">13</td>
                        <td class="bebas">12</td>
                        <td class="bebas">11</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Стоимость <strong>лазерной резки 1 см</strong>, руб.
                        </td>
                        <td class="bebas">2</td>
                        <td class="bebas">1,5</td>
                        <td class="bebas">1</td>
                        <td class="bebas">0,8</td>
                        <td class="bebas">0,5</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>металлизированной нитью</strong>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+30%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+25%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+25%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>из ткани стейч</strong>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+15%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+13%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+13%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка на <strong>ворсовых тканях</strong>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            Вышивка <strong>с эффектом 3D (Puff)</strong>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+10%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td>
                            <span class="bebas">+8%</span> 
                            <span class="_small">к стоимости стежков</span>
                        </td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bebas gold">Стандартная аппликационная ткань</span><br>
                            Однотонные ткани разных цветов (цвета ограничены)
                        </td>
                        <td colspan="6">
                            <span class="bebas">стоимость <span class="green">одного</span> аппликационного слоя</span><br>
                            Площадь аппликационного слоя рассчитывается как площадь прямоугольника в который вписан вышиваемый дизайн
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 100 см²</strong>, (пример: 10 см на 10 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 225 см²</strong>, (пример: 15 см на 15 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 400 см²</strong>, (пример: 20 см на 20 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 900 см²</strong>, (пример: 30 см на 30 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 1600 см²</strong>, (пример: 40 см на 40 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 2250 см²</strong>, (пример: 45 см на 50 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bebas gold">Сублимационная аппликационная ткань</span><br>
                            Запечатывается любой цвет и любой рисунок
                        </td>
                        <td colspan="6">
                            <span class="bebas">стоимость <span class="green">одного</span> аппликационного слоя</span><br>
                            Площадь аппликационного слоя рассчитывается как площадь прямоугольника в который вписан вышиваемый дизайн
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 100 см²</strong>, (пример: 10 см на 10 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 225 см²</strong>, (пример: 15 см на 15 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 400 см²</strong>, (пример: 20 см на 20 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 900 см²</strong>, (пример: 30 см на 30 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 1600 см²</strong>, (пример: 40 см на 40 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                    <tr>
                        <td class="right-align">
                            <strong>до 2250 см²</strong>, (пример: 45 см на 50 см)
                        </td>
                        <td class="bebas">1200</td>
                        <td class="bebas">1100</td>
                        <td class="bebas">1000</td>
                        <td class="bebas">900</td>
                        <td class="bebas">800</td>
                        <td><span class="bebas blue">Индивидуальная</span></td>
                    </tr>
                </table>
                <div class="_ap">
                    <p><strong>*Уровни сложности разработки программы на вышивку:</strong></p>
                    <ul>
                        <li>
                            <strong><span class="bebas blue">1</span> уровень сложности: </strong>
                            Один аппликационный слой в один цвет нити, отсутствие мелких деталей, размер до 100 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">2</span> уровень сложности: </strong>
                            Один аппликационный слой, с количеством цветов в дизайне до 6, отсутствие мелких деталей, размер до 400 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">3</span> уровень сложности: </strong>
                            Количество аппликационных слоев до 3х, с количеством цветов в дизайне до 6, присутствие мелких деталей, размер до 900 см²
                        </li>
                        <li>
                            <strong><span class="bebas blue">4</span> уровень сложности: </strong>
                            Количество аппликационных слоев более 3х, с количеством цветов в дизайне до 11, присутствие мелких деталей, размер до 2250 см²
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-material-print-list">
                <p><strong>Добавьте нужные аппликации вышивкой</strong></p>
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Логотипа",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Надписи",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Фамилии",
                "added": 1,
                "load": 0,
                "loaded": 1,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Номера",
                "added": 0,
                "load": 0,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Логотипа спонсора",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
                @@include('./product-material-print-list-item-toggle.html', {
                "appl": 0,
                "shevron": 0,
                "text1": "Вышивка",
                "text2": "Прочего нанесения",
                "added": 0,
                "load": 1,
                "loaded": 0,
                "img": "print1.jpg"
                })
            </div>
        </div>
    </div>
</div>