<div id="size-popup" class="popup product-size-popup">
    <div class="container">
        <ul class="tabs">
            <li class="tab col s4 offset-s2"><a class="active" href="#size-table">Таблица размеров</a></li>
            <li class="tab col s4"><a href="#size-how">Как снять мерки</a></li>
        </ul>

        <div id="size-table" class="table-product-size">
            <div class="thead">
                <div class="th">Российский размер</div>
                <div class="th">Обхват груди, в см</div>
                <div class="th">Обхват талии, в см</div>
                <div class="th">Обхват бедер, в см</div>
                <div class="th">Размер производителя</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
            <div class="tr">
                <div class="td">46</div>
                <div class="td">90 - 94</div>
                <div class="td">78 - 72</div>
                <div class="td">95 - 100</div>
                <div class="td">M</div>
            </div>
        </div>

        <div id="size-how">
            <div class="row">
                <div class="col s6">
                    <p><strong>Верхняя одежда</strong></p>
                    <p>Вам понадобится провести измерения с помощью сантиметровой ленты. Для 
                        определения подходящего размера необходимо соотнести полученные 
                        измерения с размерами в таблице.</p>
                    <p>При измерении обхвата груди лента должна плотно прилегать к телу, спереди 
                        проходить по наиболее выступающим точкам, сбоку через подмышечные 
                        впадины, сзади обхватывая лопатки.</p>
                    <p>Обхват талии измеряется строго горизонтально по самой узкой части тела, 
                        проходя через самую выступающую точку живота.</p>
                    <p>При измерении обхвата бедер лента должна находиться горизонтально, 
                        проходя посредине бедра и сзади по наиболее выступающим точкам ягодиц.</p>
                </div>
                <div class="col s5 offset-s1">
                    <img class="responsive-img" src="img/size.jpg" alt="Как снять мерки">
                </div>
            </div>
            <ul class="product-size-how">
                <li>
                    <span class="product-size-how-symbol">A</span>
                    <span class="product-size-how-desc">Обхват груди, в см</span>
                </li>
                <li>
                    <span class="product-size-how-symbol">B</span>
                    <span class="product-size-how-desc">Обхват талии, в см</span>
                </li>
                <li>
                    <span class="product-size-how-symbol">C</span>
                    <span class="product-size-how-desc">Обхват бедер, в см</span>
                </li>
            </ul>
        </div>

    </div>
</div>