<div class="product-data-list size">
    <div class="product-data-list-wrapper1">
        <label>Наличие</label>
        <label class="product-data-list-wrapper1-gray-bg">Размер</label>
        <label>Количество</label>
    </div>
    <div class="product-data-list-wrapper1 available-medium">
        <label class="js-qtip" data-qtip-el="#tip_6EE">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_6EE">@@include('./tooltip.html', {"type":"medium"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">6EE</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-full">
        <label class="js-qtip" data-qtip-el="#tip_6C">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_6C">@@include('./tooltip.html', {"type":"full"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">6C</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-small">
        <label class="js-qtip" data-qtip-el="#tip_65EE">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_65EE">@@include('./tooltip.html', {"type":"small"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">6,5EE</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-small">
        <label class="js-qtip" data-qtip-el="#tip_M">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_M">@@include('./tooltip.html', {"type":"small"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">M</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-none">
        <label class="js-qtip" data-qtip-el="#tip_L">Под<br>заказ</label>
        <div class="hide"><div id="tip_L">@@include('./tooltip.html', {"type":"none"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">L</label>
        <input type="number" disabled min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 active available-full">
        <label class="js-qtip" data-qtip-el="#tip_XL">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_XL">@@include('./tooltip.html', {"type":"full"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">XL</label>
        <input type="number" value="2" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-full">
        <label class="js-qtip" data-qtip-el="#tip_XXL">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_XXL">@@include('./tooltip.html', {"type":"full"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">XXL</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-full">
        <label class="js-qtip" data-qtip-el="#tip_3XL">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_3XL">@@include('./tooltip.html', {"type":"full"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">3XL</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 active available-small">
        <label class="js-qtip" data-qtip-el="#tip_2XS">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_2XS">@@include('./tooltip.html', {"type":"small"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">2XS</label>
        <input type="number" value="999" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-medium">
        <label class="js-qtip" data-qtip-el="#tip_XS">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_XS">@@include('./tooltip.html', {"type":"medium"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">XS</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-small">
        <label class="js-qtip" data-qtip-el="#tip_S">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_S">@@include('./tooltip.html', {"type":"small"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">S</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-medium">
        <label class="js-qtip" data-qtip-el="#tip_2XL">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_2XL">@@include('./tooltip.html', {"type":"medium"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">2XL</label>
        <input type="number" min="0" max="999">
    </div>
    <div class="product-data-list-wrapper1 available-full">
        <label class="js-qtip" data-qtip-el="#tip_125EE">@@include('./available-status.html')</label>
        <div class="hide"><div id="tip_125EE">@@include('./tooltip.html', {"type":"full"})</div></div>
        <label class="product-data-list-wrapper1-gray-bg">12,5EE</label>
        <input type="number" min="0" max="999">
    </div>
</div>