<div class="product-list-item order">
    <div class="product-list-item-slider-new">
        <div class="slick-slider list-item-slider-new">
            <div class="slide">
                <img src="img/product/21.jpg" alt="Product">
                <span class="list-item-slider-text">Основа</span>
            </div>
            <div class="slide">
                <img src="img/product/22.jpg" alt="Product">
                <span class="list-item-slider-text">Пример исполнения</span>
            </div>
            <div class="slide">
                <img src="img/product/23.jpg" alt="Product">
                <span class="list-item-slider-text">Пример исполнения</span>
            </div>
            <div class="slide">
                <img src="img/product/21.jpg" alt="Product">
                <span class="list-item-slider-text">Пример исполнения</span>
            </div>
            <div class="slide">
                <img src="img/product/22.jpg" alt="Product">
                <span class="list-item-slider-text">Пример исполнения</span>
            </div>
            <div class="slide _last">
                <span class="list-item-slider-img-wrapper">
                    <img src="img/product/22.jpg" alt="Product">
                </span>
                <a href="product-custom1.html" class="list-item-slider-more">
                    <img src="img/slider-more.png">
                    еще 12 примеров внутри
                </a>
            </div>
        </div>
    </div>
    <div class="product-list-item-print-order">
        <span>Нанесения</span>
        @@print
    </div>
    <a href="product-custom1.html" class="product-list-item-pagetitle">
        @@intro
    </a>
    <div class="product-list-item-brand">
        @@title
    </div>
    <div class="product-list-item-price gold">
        <span>от</span> @@price <i class="icon icon-rub-grid-white"></i>
    </div>
    <div class="product-list-item-extended">
        <div class="product-list-item-text">
            <p>
                <span>Особенности:</span>
                - двойная отстрочка по всем швам<br>
                - усиление на плечах<br>
                - удлиненный низ<br>
                - крепление к шортам<br>
                - сшивные полосы<br>
                - удлиненный низ<br>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>