<div id="product-review-popup" class="popup product-question-popup">
    <div class="container">
        
        <div class="product-popup-title">Оставьте отзыв о товаре</div>
        <div class="product-question-popup-product">Хоккейные коньки Bauer Supreme TotalOne MX3 JR</div>
        
        <div class="product-heading">Ваша оценка</div>
        <div class="center-align js-vote">
            <div class="reviews-vote-stars">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        
        <div class="product-heading">Текст отзыва</div>
        <form>
            <div class="row">
                <div class="col s12 rewiew-textarea-wrapper">
                    <div class="wrapper">
                        <label>Достоинства
                            <span><span id="product-review-popup-counter-1">0</span>/1000</span>
                        </label>
                        <textarea class="responce" data-max="1000" data-counter="#product-review-popup-counter-1"></textarea>
                    </div>
                    <div class="wrapper">
                        <label>Недостатки
                            <span><span id="product-review-popup-counter-2">0</span>/1000</span>
                        </label>
                        <textarea class="responce" data-max="1000" data-counter="#product-review-popup-counter-2"></textarea>
                    </div>
                    <div class="wrapper">
                        <label>Текст отзыва
                            <span><span id="product-review-popup-counter-3">0</span>/1000</span>
                        </label>
                        <textarea class="responce" data-max="1000" data-counter="#product-review-popup-counter-3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <label>Имя*
                        <span>Как Вас зовут?</span>
                    </label>
                    <input type="text">
                </div>
                <div class="col s4">
                    <label>Город
                        <span>Откуда Вы?</span>
                    </label>
                    <input type="text">
                </div>
                <div class="col s4">
                    <label>Возраст</label>
                    <input type="text">
                </div>
            </div>
            <div class="center-align">
                <button class="btn btn-blue"><span>Оставить отзыв</span></button>
            </div>
        </form>

    </div>
</div>