<div id="design-popup" class="popup product-design-popup">
    <div class="container">
        
        <div class="product-popup-title">Выбор дизайна</div>
        <p>Если Вы выбрали <span class="bebas blue"><strong>стандартный дизайн</strong></span> то при этом, он будет исполнен в вашем цветовом решении 
и с вашими логотипами, стилями шрифтов и т.п.</p>
        <div class="product-design-popup-free">
            <span class="bebas"><strong><span class="blue">Разработка Индивидуального дизайна -</span> <span class="primary">бесплатно</span></strong>*</span>
            <span class="right-align"><small>*При заказе формы от 8 шт.</small></span>
        </div>
        
        <div class="product-heading">Пожелания по цветовому решению</div>
        <ul class="product-colors">
            <li class="product-color-primary">
                <strong>Основной цвет</strong>
                <span class="product-color" style="background: red"></span>
                <a class="product-color-select" href="#">изменить цвет</a>
            </li>
            <li class="product-color-optional">
                <strong>Дополнительные цвета</strong>
                <ul>
                    <li>
                        <span class="product-color" style="background: blue"></span>
                        <i class="icon icon-printable-remove js-color-remove"></i>
                        <a class="product-color-select" href="#">изменить цвет</a>
                    </li>
                    <li>
                        <span class="product-color"></span>
                        <i class="icon icon-printable-remove js-color-remove"></i>
                        <a class="product-color-select" href="#">выбрать цвет</a>
                    </li>
                    <li class="template">
                        <span class="product-color"></span>
                        <i class="icon icon-printable-remove js-color-remove"></i>
                        <a class="product-color-select" href="#">выбрать цвет</a>
                    </li>
                </ul>
            </li>
            <li class="product-color-add">
                <i class="icon icon-printable-add icon-middle js-color-add"></i>
                Добавить<br>
                дополнительный цвет
            </li>
        </ul>
        
        <div class="product-heading"></div>
        <div class="row">
            @@include("./product-design-item.html", {
                "img": "img/product/d0.jpg",
                "title": "Индивидуальный дизайн"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d1.jpg",
                "title": "Стандартный дизайн #1"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d2.jpg",
                "title": "Стандартный дизайн #2"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d3.jpg",
                "title": "Стандартный дизайн #3"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d4.jpg",
                "title": "Стандартный дизайн #4"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d1.jpg",
                "title": "Стандартный дизайн #1"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d2.jpg",
                "title": "Стандартный дизайн #2"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d3.jpg",
                "title": "Стандартный дизайн #3"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d4.jpg",
                "title": "Стандартный дизайн #4"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d1.jpg",
                "title": "Стандартный дизайн #1"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d2.jpg",
                "title": "Стандартный дизайн #2"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d3.jpg",
                "title": "Стандартный дизайн #3"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d4.jpg",
                "title": "Стандартный дизайн #4"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d1.jpg",
                "title": "Стандартный дизайн #1"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d2.jpg",
                "title": "Стандартный дизайн #2"
            })
            @@include("./product-design-item.html", {
                "img": "img/product/d3.jpg",
                "title": "Стандартный дизайн #3"
            })
        </div>

    </div>
</div>