<div id="region-confirm-popup" class="popup popup-region-confirm">
    <div class="gold">Ваш регион</div>
    <div class="popup-region-confirm-selected"><strong>Нижний Новгород</strong></div>
    <ul>
        <li><a href="#" class="popup-region-confirm-change" data-fancybox="" data-src="#region-select-popup">Выбрать другой</a></li>
        <li><a href="#" class="popup-region-confirm-submit">Да, все верно</a></li>
    </ul>
    <small>От выбранного города зависят наличие товара, способы доставки и цена доставки.</small>
</div>