<div class="reviews-item">
                                    <div class="reviews-item-star">
                                        Оценка покупателя&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="reviews-item-name">
                                        <strong>Алексей Исаенков</strong>, Москва
                                    </div>
                                    <div class="reviews-item-text">
                                        @@text 
                                    </div>
                                </div>