<div class="accordion-item share-item @@if (closed == 1) { closed }">
    <ul class="accordion-item-heading">
        <li>№ Заказа <strong>Sd9249</strong></li>
        <li>Дата <strong>03.04.2017</strong></li>
    </ul>
    <div class="accordion-item-inner">
        @@include('./share-item-row.html', {
        "footer": 0,
        "checkbox": 1,
        "checked": 0,
        "idx": @@idx
        })
        @@include('./share-item-row.html', {
        "footer": 0,
        "checkbox": 1,
        "checked": 1,
        "idx": @@idx
        })
    </div>
</div>