<div class="share-item-row">
    <div class="cart-item">
        <div class="cart-item-info cart-item__centered">
            <div class="cart-item-inner">
                <div class="cart-item-info-title">
                    Комплект женской волейбольной формы на заказ
                </div>
                <dl class="cart-item-info-list">
                    <dt>Модель:</dt>
                    <dd>Б-12 Анатомический</dd>
                    <dt>Тип модели:</dt>
                    <dd>Анатомический</dd>
                    <dt>Пол:</dt>
                    <dd>Мужской</dd>
                    <dt>Возраст:</dt>
                    <dd>Взрослый</dd>
                    <dt>Тип нанесений:</dt>
                    <dd><span class="blue">Полная сублимация</span></dd>
                    <dt>Тип модели:</dt>
                    <dd>Анатомический</dd>
                </dl>
            </div>
        </div>
        <div class="cart-item-design">
            <div class="product-heading">Дизайн</div>
            <div class="wrapper-3d js-3d" data-folder="Майка шорты Груничева_VR.61" data-width="480" data-height="250"></div>
        </div>
        <div class="cart-item-material cart-item__centered">
            <div class="product-heading">Материалы</div>
            <div class="cart-item-inner">
                <div class="cart-item-label"><strong>Основной</strong></div>
                <div class="cart-item-input">Интерлок 130 г/м³</div>
                <div class="cart-item-label"><strong>Дополнительный</strong><br>(вставки или часть вставок)</div>
                <div class="cart-item-input">Как основной</div>
            </div>
        </div>
        <div class="cart-item-print cart-item__centered">
            <div class="product-heading">Доп. нанесения</div>
            <div class="cart-item-inner">
                <div class="cart-item-input">Аппликация с вышивкой</div>
                <div class="cart-item-input">Шеврон</div>
                <div class="cart-item-input">Пленка</div>
                <div class="cart-item-input">Пленка</div>
            </div>
        </div>
    </div>
    <div class="share-item-footer">
        <div class="share-item-footer-left">
            <div class="share-count">
                <span>Количество:</span>
                <div class="product-data-list-wrapper count">
                    <input type="number" value="10">
                </div>
                <span>
                    Скидки на количество от:
                    <span class="bebas gold">10</span>
                    <span class="bebas gold">30</span>
                    <span class="bebas gold">50</span>
                    <span class="bebas gold">100</span>
                    <span class="bebas gold">200</span>
                    шт.
                </span>
            </div>
            <div class="share-price">
                <button class="btn btn-primary btn-lg">
                    <span>Добавить в корзину <i class="icon icon-basket"></i></span>
                </button>
                <span>Цена за единицу:</span>
                <span class="share-price-price">1 980*</span>
                <i class="icon icon-rub"></i>
            </div>
        </div>
        <div class="share-item-footer-right">
            <div>Таблица соответствий размеров и персональных отличий<br> 
                заполняется в корзине</div>
            <button data-fancybox="" data-src="#size-popup" class="btn btn-gold btn-lg">
                <span>Определить размер
                    <i class="icon icon-btn-size"></i>
                </span>
            </button>
        </div>
    </div>
</div>