<div class="cart-item style24">
    <div class="cart-item__head">
        <div class="cart-item-info cart-item__centered">
            <div class="cart-item-inner">
                <div class="cart-item-info-title">
                    Комплект женской волейбольной формы на заказ
                </div>
                <dl class="cart-item-info-list">
                    <dt>Модель:</dt>
                    <dd>Б-12 Анатомический</dd>
                    <dt>Тип модели:</dt>
                    <dd>Анатомический</dd>
                    <dt>Пол:</dt>
                    <dd>Мужской</dd>
                    <dt>Возраст:</dt>
                    <dd>Взрослый</dd>
                    <dt>Тип нанесений:</dt>
                    <dd><span class="blue">Полная сублимация</span></dd>
                    <dt>Тип модели:</dt>
                    <dd>Анатомический</dd>
                </dl>
            </div>
        </div>
        <div class="cart-item-design">
            <div class="product-heading">Дизайн</div>
            <div class="wrapper-3d js-3d" data-folder="Майка шорты Груничева_VR.61" data-width="480" data-height="250"></div>
        </div>
        <div class="cart-item-material cart-item__centered">
            <div class="product-heading">Материалы</div>
            <div class="cart-item-inner">
                <div class="cart-item-label"><strong>Основной</strong></div>
                <div class="cart-item-input">Интерлок 130 г/м³</div>
                <div class="cart-item-label"><strong>Дополнительный</strong><br>(вставки или часть вставок)</div>
                <div class="cart-item-input">Как основной</div>
            </div>
        </div>
        <div class="cart-item-print">
            <div class="product-heading">Доп. нанесения</div>
            <div class="cart-item-inner">
                <div class="cart-item-print__item">
                    <div class="cart-item-print__item-h">Левый рукав</div>
                    <div class="cart-item-input">Аппликация с вышивкой</div>
                </div>
                <div class="cart-item-print__item">
                    <div class="cart-item-print__item-h">Правый рукав</div>
                    <div class="cart-item-input">Шеврон</div>
                    <div class="cart-item-input">Пленка</div>
                    <div class="cart-item-input">Пленка</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-item__foot">
        <div class="cart-item-share-size">
            <button data-fancybox="" data-src="#size-popup" class="btn btn-gold btn-lg">
                <span>Определить размер
                    <i class="icon icon-btn-size"></i>
                </span>
            </button>
        </div>
        <div class="cart-item-table">
            <table class="size-table">
                <tr>
                    <td><span>№ п.п.</span></td>
                    <td><span>Фамилия игрока (никнейм и т.п.)</span></td>
                    <td><span>Номер игрока</span></td>
                    <td><span>Рост</span></td>
                    <td><span>Обхват груди</span></td>
                    <td><span>Обхват бедер</span></td>
                    <td><span class="size-table__accent">Рост / размер верха</span></td>
                    <td><span>Рост / размер низа</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9" class="size-table__h">Игрок (основной)</td>
                </tr>
                <tr>
                    <td><input disabled value="000" size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input disabled size="1"></td>
                    <td><input disabled size="1"></td>
                    <td><a href="#" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="about-add">
                            <a href="#">
                                <i class="icon icon-printable-add icon-middle"></i>
                                Добавить еще
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="size-table__h">Вратарь (либеро) и т.д.</td>
                </tr>
                <tr>
                    <td><input disabled value="000" size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input size="1"></td>
                    <td><input disabled size="1"></td>
                    <td><input disabled size="1"></td>
                    <td><a href="#" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="about-add">
                            <a href="#">
                                <i class="icon icon-printable-add icon-middle"></i>
                                Добавить еще
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cart-item-share-foot">
            <div class="share-count">
                <div class="product-data-list-wrapper count">
                    <input type="number" value="10">
                </div>
                <span>
                    Скидки на количество от:
                    <span class="bebas gold">10</span>
                    <span class="bebas gold">30</span>
                    <span class="bebas gold">50</span>
                    <span class="bebas gold">100</span>
                    <span class="bebas gold">200</span>
                    шт.
                </span>
            </div>
            <div class="share-price">
                <span>Цена за единицу:</span>
                <span class="share-price-price">1 980*</span>
                <i class="icon icon-rub"></i>
            </div>
            <div class="share-price">
                <span>Общая стоимость</span>
                <span class="share-price-price">1 980*</span>
                <i class="icon icon-rub"></i>
            </div>
        </div>
        <div class="cart-item-share-add">
            <button class="btn btn-primary btn-lg">
                <span>Добавить в корзину <i class="icon icon-basket"></i></span>
            </button>
        </div>
    </div>
</div>