<div class="share-item-row">
    <div class="cart-item">
        <div class="cart-item-image">
            <img src="img/product/cart2.jpg" alt="alt text">
        </div>
        <div class="cart-item-info">
            <div class="cart-item-info-title">
                Свитер хоккейный на заказ
            </div>
            <dl class="cart-item-info-list">
                <dt>Модель:</dt>
                <dd>Б-12 Анатомический</dd>
                <dt>Тип модели:</dt>
                <dd>Анатомический</dd>
                <dt>Пол:</dt>
                <dd>Мужской</dd>
                <dt>Возраст:</dt>
                <dd>Взрослый</dd>
                <dt>Тип нанесений:</dt>
                <dd><span class="blue">Полная сублимация</span></dd>
            </dl>
        </div>
        <div class="cart-item-material">
            <div class="product-heading">Материалы</div>
            <div class="cart-item-label">Основной</div>
            <div class="cart-item-input">Интерлок 130 г/м³</div>
            <div class="cart-item-label">Дополнительный (вставки или часть вставок)</div>
            <div class="cart-item-input">Как основной</div>
        </div>
        <div class="cart-item-print">
            <div class="product-heading">Доп. нанесения</div>
            <div class="cart-item-input">Аппликация с вышивкой</div>
            <div class="cart-item-input">Шеврон</div>
            <div class="cart-item-input">Пленка</div>
            <div class="cart-item-input">Пленка</div>
        </div>
        <div class="cart-item-maket">
            <div class="product-heading">Макет</div>
            <div class="cart-item-maket-wrapper">
                <img src="img/product/cart3.jpg" alt="alt text">
            </div>
        </div>
        @@if (checkbox == 1) {
        <div class="cart-item-checkbox">
            <label><input type="radio" name="share@@idx" class="checkbox-lg" @@if (checked == 1) {checked}></label>
        </div>
        }
    </div>
    @@if (footer == 1) {
    <div class="share-item-footer">
        <div class="share-count">
            <span>Количество:</span>
            <div class="product-data-list-wrapper count">
                <input type="number" value="10">
            </div>
        </div>
        <div class="share-price">
            <span>Цена за единицу:</span>
            <span class="share-price-price">1 980*</span>
            <i class="icon icon-rub"></i>
        </div>
        <button data-fancybox="" data-src="#size-popup" class="btn btn-gold btn-lg">
            <span>Определить размер
                <i class="icon icon-btn-size"></i>
            </span>
        </button>
        <form class="add-to-cart">
            <button class="btn btn-primary btn-lg">
                <span>Добавить в корзину <i class="icon icon-basket"></i></span>
            </button>
        </form>
    </div>
    }
</div>