// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alfa-bank-name: 'alfa-bank';
$alfa-bank-x: 92px;
$alfa-bank-y: 0px;
$alfa-bank-offset-x: -92px;
$alfa-bank-offset-y: 0px;
$alfa-bank-width: 134px;
$alfa-bank-height: 45px;
$alfa-bank-total-width: 389px;
$alfa-bank-total-height: 372px;
$alfa-bank-image: 'sprite.png';
$alfa-bank: (92px, 0px, -92px, 0px, 134px, 45px, 389px, 372px, 'sprite.png', 'alfa-bank', );
$arrow-to-top-name: 'arrow-to-top';
$arrow-to-top-x: 347px;
$arrow-to-top-y: 311px;
$arrow-to-top-offset-x: -347px;
$arrow-to-top-offset-y: -311px;
$arrow-to-top-width: 23px;
$arrow-to-top-height: 14px;
$arrow-to-top-total-width: 389px;
$arrow-to-top-total-height: 372px;
$arrow-to-top-image: 'sprite.png';
$arrow-to-top: (347px, 311px, -347px, -311px, 23px, 14px, 389px, 372px, 'sprite.png', 'arrow-to-top', );
$basket-grid-hover-name: 'basket-grid-hover';
$basket-grid-hover-x: 178px;
$basket-grid-hover-y: 203px;
$basket-grid-hover-offset-x: -178px;
$basket-grid-hover-offset-y: -203px;
$basket-grid-hover-width: 39px;
$basket-grid-hover-height: 27px;
$basket-grid-hover-total-width: 389px;
$basket-grid-hover-total-height: 372px;
$basket-grid-hover-image: 'sprite.png';
$basket-grid-hover: (178px, 203px, -178px, -203px, 39px, 27px, 389px, 372px, 'sprite.png', 'basket-grid-hover', );
$basket-grid-name: 'basket-grid';
$basket-grid-x: 134px;
$basket-grid-y: 203px;
$basket-grid-offset-x: -134px;
$basket-grid-offset-y: -203px;
$basket-grid-width: 39px;
$basket-grid-height: 27px;
$basket-grid-total-width: 389px;
$basket-grid-total-height: 372px;
$basket-grid-image: 'sprite.png';
$basket-grid: (134px, 203px, -134px, -203px, 39px, 27px, 389px, 372px, 'sprite.png', 'basket-grid', );
$basket-rounded-name: 'basket-rounded';
$basket-rounded-x: 0px;
$basket-rounded-y: 141px;
$basket-rounded-offset-x: 0px;
$basket-rounded-offset-y: -141px;
$basket-rounded-width: 57px;
$basket-rounded-height: 57px;
$basket-rounded-total-width: 389px;
$basket-rounded-total-height: 372px;
$basket-rounded-image: 'sprite.png';
$basket-rounded: (0px, 141px, 0px, -141px, 57px, 57px, 389px, 372px, 'sprite.png', 'basket-rounded', );
$basket-name: 'basket';
$basket-x: 222px;
$basket-y: 203px;
$basket-offset-x: -222px;
$basket-offset-y: -203px;
$basket-width: 35px;
$basket-height: 26px;
$basket-total-width: 389px;
$basket-total-height: 372px;
$basket-image: 'sprite.png';
$basket: (222px, 203px, -222px, -203px, 35px, 26px, 389px, 372px, 'sprite.png', 'basket', );
$btn-size-name: 'btn-size';
$btn-size-x: 117px;
$btn-size-y: 248px;
$btn-size-offset-x: -117px;
$btn-size-offset-y: -248px;
$btn-size-width: 33px;
$btn-size-height: 28px;
$btn-size-total-width: 389px;
$btn-size-total-height: 372px;
$btn-size-image: 'sprite.png';
$btn-size: (117px, 248px, -117px, -248px, 33px, 28px, 389px, 372px, 'sprite.png', 'btn-size', );
$cart-slider-name: 'cart-slider';
$cart-slider-x: 262px;
$cart-slider-y: 203px;
$cart-slider-offset-x: -262px;
$cart-slider-offset-y: -203px;
$cart-slider-width: 11px;
$cart-slider-height: 26px;
$cart-slider-total-width: 389px;
$cart-slider-total-height: 372px;
$cart-slider-image: 'sprite.png';
$cart-slider: (262px, 203px, -262px, -203px, 11px, 26px, 389px, 372px, 'sprite.png', 'cart-slider', );
$catalog-btn-name: 'catalog-btn';
$catalog-btn-x: 229px;
$catalog-btn-y: 248px;
$catalog-btn-offset-x: -229px;
$catalog-btn-offset-y: -248px;
$catalog-btn-width: 20px;
$catalog-btn-height: 20px;
$catalog-btn-total-width: 389px;
$catalog-btn-total-height: 372px;
$catalog-btn-image: 'sprite.png';
$catalog-btn: (229px, 248px, -229px, -248px, 20px, 20px, 389px, 372px, 'sprite.png', 'catalog-btn', );
$catalog-slider-hover-name: 'catalog-slider-hover';
$catalog-slider-hover-x: 231px;
$catalog-slider-hover-y: 101px;
$catalog-slider-hover-offset-x: -231px;
$catalog-slider-hover-offset-y: -101px;
$catalog-slider-hover-width: 33px;
$catalog-slider-hover-height: 49px;
$catalog-slider-hover-total-width: 389px;
$catalog-slider-hover-total-height: 372px;
$catalog-slider-hover-image: 'sprite.png';
$catalog-slider-hover: (231px, 101px, -231px, -101px, 33px, 49px, 389px, 372px, 'sprite.png', 'catalog-slider-hover', );
$catalog-slider-name: 'catalog-slider';
$catalog-slider-x: 231px;
$catalog-slider-y: 47px;
$catalog-slider-offset-x: -231px;
$catalog-slider-offset-y: -47px;
$catalog-slider-width: 33px;
$catalog-slider-height: 49px;
$catalog-slider-total-width: 389px;
$catalog-slider-total-height: 372px;
$catalog-slider-image: 'sprite.png';
$catalog-slider: (231px, 47px, -231px, -47px, 33px, 49px, 389px, 372px, 'sprite.png', 'catalog-slider', );
$checkbox-checked-big-name: 'checkbox-checked-big';
$checkbox-checked-big-x: 347px;
$checkbox-checked-big-y: 164px;
$checkbox-checked-big-offset-x: -347px;
$checkbox-checked-big-offset-y: -164px;
$checkbox-checked-big-width: 25px;
$checkbox-checked-big-height: 26px;
$checkbox-checked-big-total-width: 389px;
$checkbox-checked-big-total-height: 372px;
$checkbox-checked-big-image: 'sprite.png';
$checkbox-checked-big: (347px, 164px, -347px, -164px, 25px, 26px, 389px, 372px, 'sprite.png', 'checkbox-checked-big', );
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 278px;
$checkbox-checked-y: 224px;
$checkbox-checked-offset-x: -278px;
$checkbox-checked-offset-y: -224px;
$checkbox-checked-width: 18px;
$checkbox-checked-height: 19px;
$checkbox-checked-total-width: 389px;
$checkbox-checked-total-height: 372px;
$checkbox-checked-image: 'sprite.png';
$checkbox-checked: (278px, 224px, -278px, -224px, 18px, 19px, 389px, 372px, 'sprite.png', 'checkbox-checked', );
$color-transp-name: 'color-transp';
$color-transp-x: 181px;
$color-transp-y: 92px;
$color-transp-offset-x: -181px;
$color-transp-offset-y: -92px;
$color-transp-width: 40px;
$color-transp-height: 31px;
$color-transp-total-width: 389px;
$color-transp-total-height: 372px;
$color-transp-image: 'sprite.png';
$color-transp: (181px, 92px, -181px, -92px, 40px, 31px, 389px, 372px, 'sprite.png', 'color-transp', );
$contacts-address-active-name: 'contacts-address-active';
$contacts-address-active-x: 347px;
$contacts-address-active-y: 253px;
$contacts-address-active-offset-x: -347px;
$contacts-address-active-offset-y: -253px;
$contacts-address-active-width: 24px;
$contacts-address-active-height: 24px;
$contacts-address-active-total-width: 389px;
$contacts-address-active-total-height: 372px;
$contacts-address-active-image: 'sprite.png';
$contacts-address-active: (347px, 253px, -347px, -253px, 24px, 24px, 389px, 372px, 'sprite.png', 'contacts-address-active', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 314px;
$contacts-address-y: 130px;
$contacts-address-offset-x: -314px;
$contacts-address-offset-y: -130px;
$contacts-address-width: 24px;
$contacts-address-height: 24px;
$contacts-address-total-width: 389px;
$contacts-address-total-height: 372px;
$contacts-address-image: 'sprite.png';
$contacts-address: (314px, 130px, -314px, -130px, 24px, 24px, 389px, 372px, 'sprite.png', 'contacts-address', );
$contacts-email-name: 'contacts-email';
$contacts-email-x: 314px;
$contacts-email-y: 188px;
$contacts-email-offset-x: -314px;
$contacts-email-offset-y: -188px;
$contacts-email-width: 24px;
$contacts-email-height: 24px;
$contacts-email-total-width: 389px;
$contacts-email-total-height: 372px;
$contacts-email-image: 'sprite.png';
$contacts-email: (314px, 188px, -314px, -188px, 24px, 24px, 389px, 372px, 'sprite.png', 'contacts-email', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 347px;
$contacts-phone-y: 282px;
$contacts-phone-offset-x: -347px;
$contacts-phone-offset-y: -282px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 389px;
$contacts-phone-total-height: 372px;
$contacts-phone-image: 'sprite.png';
$contacts-phone: (347px, 282px, -347px, -282px, 24px, 24px, 389px, 372px, 'sprite.png', 'contacts-phone', );
$contacts-time-name: 'contacts-time';
$contacts-time-x: 314px;
$contacts-time-y: 159px;
$contacts-time-offset-x: -314px;
$contacts-time-offset-y: -159px;
$contacts-time-width: 24px;
$contacts-time-height: 24px;
$contacts-time-total-width: 389px;
$contacts-time-total-height: 372px;
$contacts-time-image: 'sprite.png';
$contacts-time: (314px, 159px, -314px, -159px, 24px, 24px, 389px, 372px, 'sprite.png', 'contacts-time', );
$credit-name: 'credit';
$credit-x: 81px;
$credit-y: 248px;
$credit-offset-x: -81px;
$credit-offset-y: -248px;
$credit-width: 31px;
$credit-height: 31px;
$credit-total-width: 389px;
$credit-total-height: 372px;
$credit-image: 'sprite.png';
$credit: (81px, 248px, -81px, -248px, 31px, 31px, 389px, 372px, 'sprite.png', 'credit', );
$facebook-name: 'facebook';
$facebook-x: 35px;
$facebook-y: 295px;
$facebook-offset-x: -35px;
$facebook-offset-y: -295px;
$facebook-width: 30px;
$facebook-height: 30px;
$facebook-total-width: 389px;
$facebook-total-height: 372px;
$facebook-image: 'sprite.png';
$facebook: (35px, 295px, -35px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'facebook', );
$filter-trigger-name: 'filter-trigger';
$filter-trigger-x: 62px;
$filter-trigger-y: 189px;
$filter-trigger-offset-x: -62px;
$filter-trigger-offset-y: -189px;
$filter-trigger-width: 18px;
$filter-trigger-height: 8px;
$filter-trigger-total-width: 389px;
$filter-trigger-total-height: 372px;
$filter-trigger-image: 'sprite.png';
$filter-trigger: (62px, 189px, -62px, -189px, 18px, 8px, 389px, 372px, 'sprite.png', 'filter-trigger', );
$heading-checkout-name: 'heading-checkout';
$heading-checkout-x: 0px;
$heading-checkout-y: 203px;
$heading-checkout-offset-x: 0px;
$heading-checkout-offset-y: -203px;
$heading-checkout-width: 43px;
$heading-checkout-height: 40px;
$heading-checkout-total-width: 389px;
$heading-checkout-total-height: 372px;
$heading-checkout-image: 'sprite.png';
$heading-checkout: (0px, 203px, 0px, -203px, 43px, 40px, 389px, 372px, 'sprite.png', 'heading-checkout', );
$heading-contacts-name: 'heading-contacts';
$heading-contacts-x: 48px;
$heading-contacts-y: 203px;
$heading-contacts-offset-x: -48px;
$heading-contacts-offset-y: -203px;
$heading-contacts-width: 39px;
$heading-contacts-height: 38px;
$heading-contacts-total-width: 389px;
$heading-contacts-total-height: 372px;
$heading-contacts-image: 'sprite.png';
$heading-contacts: (48px, 203px, -48px, -203px, 39px, 38px, 389px, 372px, 'sprite.png', 'heading-contacts', );
$heading-delivery-name: 'heading-delivery';
$heading-delivery-x: 168px;
$heading-delivery-y: 141px;
$heading-delivery-offset-x: -168px;
$heading-delivery-offset-y: -141px;
$heading-delivery-width: 55px;
$heading-delivery-height: 31px;
$heading-delivery-total-width: 389px;
$heading-delivery-total-height: 372px;
$heading-delivery-image: 'sprite.png';
$heading-delivery: (168px, 141px, -168px, -141px, 55px, 31px, 389px, 372px, 'sprite.png', 'heading-delivery', );
$heading-feedback-name: 'heading-feedback';
$heading-feedback-x: 41px;
$heading-feedback-y: 248px;
$heading-feedback-offset-x: -41px;
$heading-feedback-offset-y: -248px;
$heading-feedback-width: 35px;
$heading-feedback-height: 39px;
$heading-feedback-total-width: 389px;
$heading-feedback-total-height: 372px;
$heading-feedback-image: 'sprite.png';
$heading-feedback: (41px, 248px, -41px, -248px, 35px, 39px, 389px, 372px, 'sprite.png', 'heading-feedback', );
$heading-office-name: 'heading-office';
$heading-office-x: 0px;
$heading-office-y: 248px;
$heading-office-offset-x: 0px;
$heading-office-offset-y: -248px;
$heading-office-width: 36px;
$heading-office-height: 42px;
$heading-office-total-width: 389px;
$heading-office-total-height: 372px;
$heading-office-image: 'sprite.png';
$heading-office: (0px, 248px, 0px, -248px, 36px, 42px, 389px, 372px, 'sprite.png', 'heading-office', );
$heading-regions-name: 'heading-regions';
$heading-regions-x: 314px;
$heading-regions-y: 92px;
$heading-regions-offset-x: -314px;
$heading-regions-offset-y: -92px;
$heading-regions-width: 28px;
$heading-regions-height: 33px;
$heading-regions-total-width: 389px;
$heading-regions-total-height: 372px;
$heading-regions-image: 'sprite.png';
$heading-regions: (314px, 92px, -314px, -92px, 28px, 33px, 389px, 372px, 'sprite.png', 'heading-regions', );
$heading-share-name: 'heading-share';
$heading-share-x: 231px;
$heading-share-y: 0px;
$heading-share-offset-x: -231px;
$heading-share-offset-y: 0px;
$heading-share-width: 42px;
$heading-share-height: 42px;
$heading-share-total-width: 389px;
$heading-share-total-height: 372px;
$heading-share-image: 'sprite.png';
$heading-share: (231px, 0px, -231px, 0px, 42px, 42px, 389px, 372px, 'sprite.png', 'heading-share', );
$heading-warranty-name: 'heading-warranty';
$heading-warranty-x: 92px;
$heading-warranty-y: 203px;
$heading-warranty-offset-x: -92px;
$heading-warranty-offset-y: -203px;
$heading-warranty-width: 37px;
$heading-warranty-height: 36px;
$heading-warranty-total-width: 389px;
$heading-warranty-total-height: 372px;
$heading-warranty-image: 'sprite.png';
$heading-warranty: (92px, 203px, -92px, -203px, 37px, 36px, 389px, 372px, 'sprite.png', 'heading-warranty', );
$heart-o-name: 'heart-o';
$heart-o-x: 347px;
$heart-o-y: 195px;
$heart-o-offset-x: -347px;
$heart-o-offset-y: -195px;
$heart-o-width: 25px;
$heart-o-height: 25px;
$heart-o-total-width: 389px;
$heart-o-total-height: 372px;
$heart-o-image: 'sprite.png';
$heart-o: (347px, 195px, -347px, -195px, 25px, 25px, 389px, 372px, 'sprite.png', 'heart-o', );
$instagram-name: 'instagram';
$instagram-x: 140px;
$instagram-y: 295px;
$instagram-offset-x: -140px;
$instagram-offset-y: -295px;
$instagram-width: 30px;
$instagram-height: 30px;
$instagram-total-width: 389px;
$instagram-total-height: 372px;
$instagram-image: 'sprite.png';
$instagram: (140px, 295px, -140px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'instagram', );
$logout-name: 'logout';
$logout-x: 347px;
$logout-y: 225px;
$logout-offset-x: -347px;
$logout-offset-y: -225px;
$logout-width: 27px;
$logout-height: 23px;
$logout-total-width: 389px;
$logout-total-height: 372px;
$logout-image: 'sprite.png';
$logout: (347px, 225px, -347px, -225px, 27px, 23px, 389px, 372px, 'sprite.png', 'logout', );
$main-menu-arrow-hover-name: 'main-menu-arrow-hover';
$main-menu-arrow-hover-x: 381px;
$main-menu-arrow-hover-y: 96px;
$main-menu-arrow-hover-offset-x: -381px;
$main-menu-arrow-hover-offset-y: -96px;
$main-menu-arrow-hover-width: 5px;
$main-menu-arrow-hover-height: 11px;
$main-menu-arrow-hover-total-width: 389px;
$main-menu-arrow-hover-total-height: 372px;
$main-menu-arrow-hover-image: 'sprite.png';
$main-menu-arrow-hover: (381px, 96px, -381px, -96px, 5px, 11px, 389px, 372px, 'sprite.png', 'main-menu-arrow-hover', );
$main-menu-arrow-name: 'main-menu-arrow';
$main-menu-arrow-x: 381px;
$main-menu-arrow-y: 112px;
$main-menu-arrow-offset-x: -381px;
$main-menu-arrow-offset-y: -112px;
$main-menu-arrow-width: 5px;
$main-menu-arrow-height: 11px;
$main-menu-arrow-total-width: 389px;
$main-menu-arrow-total-height: 372px;
$main-menu-arrow-image: 'sprite.png';
$main-menu-arrow: (381px, 112px, -381px, -112px, 5px, 11px, 389px, 372px, 'sprite.png', 'main-menu-arrow', );
$mastercard-name: 'mastercard';
$mastercard-x: 119px;
$mastercard-y: 92px;
$mastercard-offset-x: -119px;
$mastercard-offset-y: -92px;
$mastercard-width: 57px;
$mastercard-height: 35px;
$mastercard-total-width: 389px;
$mastercard-total-height: 372px;
$mastercard-image: 'sprite.png';
$mastercard: (119px, 92px, -119px, -92px, 57px, 35px, 389px, 372px, 'sprite.png', 'mastercard', );
$menu-heart-hover-name: 'menu-heart-hover';
$menu-heart-hover-x: 17px;
$menu-heart-hover-y: 360px;
$menu-heart-hover-offset-x: -17px;
$menu-heart-hover-offset-y: -360px;
$menu-heart-hover-width: 11px;
$menu-heart-hover-height: 12px;
$menu-heart-hover-total-width: 389px;
$menu-heart-hover-total-height: 372px;
$menu-heart-hover-image: 'sprite.png';
$menu-heart-hover: (17px, 360px, -17px, -360px, 11px, 12px, 389px, 372px, 'sprite.png', 'menu-heart-hover', );
$menu-heart-name: 'menu-heart';
$menu-heart-x: 0px;
$menu-heart-y: 360px;
$menu-heart-offset-x: 0px;
$menu-heart-offset-y: -360px;
$menu-heart-width: 12px;
$menu-heart-height: 12px;
$menu-heart-total-width: 389px;
$menu-heart-total-height: 372px;
$menu-heart-image: 'sprite.png';
$menu-heart: (0px, 360px, 0px, -360px, 12px, 12px, 389px, 372px, 'sprite.png', 'menu-heart', );
$menu-minus-name: 'menu-minus';
$menu-minus-x: 299px;
$menu-minus-y: 295px;
$menu-minus-offset-x: -299px;
$menu-minus-offset-y: -295px;
$menu-minus-width: 14px;
$menu-minus-height: 14px;
$menu-minus-total-width: 389px;
$menu-minus-total-height: 372px;
$menu-minus-image: 'sprite.png';
$menu-minus: (299px, 295px, -299px, -295px, 14px, 14px, 389px, 372px, 'sprite.png', 'menu-minus', );
$menu-plus-name: 'menu-plus';
$menu-plus-x: 280px;
$menu-plus-y: 295px;
$menu-plus-offset-x: -280px;
$menu-plus-offset-y: -295px;
$menu-plus-width: 14px;
$menu-plus-height: 14px;
$menu-plus-total-width: 389px;
$menu-plus-total-height: 372px;
$menu-plus-image: 'sprite.png';
$menu-plus: (280px, 295px, -280px, -295px, 14px, 14px, 389px, 372px, 'sprite.png', 'menu-plus', );
$menu-right-name: 'menu-right';
$menu-right-x: 301px;
$menu-right-y: 224px;
$menu-right-offset-x: -301px;
$menu-right-offset-y: -224px;
$menu-right-width: 8px;
$menu-right-height: 18px;
$menu-right-total-width: 389px;
$menu-right-total-height: 372px;
$menu-right-image: 'sprite.png';
$menu-right: (301px, 224px, -301px, -224px, 8px, 18px, 389px, 372px, 'sprite.png', 'menu-right', );
$menu-name: 'menu';
$menu-x: 204px;
$menu-y: 248px;
$menu-offset-x: -204px;
$menu-offset-y: -248px;
$menu-width: 20px;
$menu-height: 20px;
$menu-total-width: 389px;
$menu-total-height: 372px;
$menu-image: 'sprite.png';
$menu: (204px, 248px, -204px, -248px, 20px, 20px, 389px, 372px, 'sprite.png', 'menu', );
$odnoklassniki-name: 'odnoklassniki';
$odnoklassniki-x: 175px;
$odnoklassniki-y: 295px;
$odnoklassniki-offset-x: -175px;
$odnoklassniki-offset-y: -295px;
$odnoklassniki-width: 30px;
$odnoklassniki-height: 30px;
$odnoklassniki-total-width: 389px;
$odnoklassniki-total-height: 372px;
$odnoklassniki-image: 'sprite.png';
$odnoklassniki: (175px, 295px, -175px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'odnoklassniki', );
$pagg-slider-left-hover-name: 'pagg-slider-left-hover';
$pagg-slider-left-hover-x: 155px;
$pagg-slider-left-hover-y: 248px;
$pagg-slider-left-hover-offset-x: -155px;
$pagg-slider-left-hover-offset-y: -248px;
$pagg-slider-left-hover-width: 18px;
$pagg-slider-left-hover-height: 27px;
$pagg-slider-left-hover-total-width: 389px;
$pagg-slider-left-hover-total-height: 372px;
$pagg-slider-left-hover-image: 'sprite.png';
$pagg-slider-left-hover: (155px, 248px, -155px, -248px, 18px, 27px, 389px, 372px, 'sprite.png', 'pagg-slider-left-hover', );
$pagg-slider-left-name: 'pagg-slider-left';
$pagg-slider-left-x: 314px;
$pagg-slider-left-y: 248px;
$pagg-slider-left-offset-x: -314px;
$pagg-slider-left-offset-y: -248px;
$pagg-slider-left-width: 18px;
$pagg-slider-left-height: 27px;
$pagg-slider-left-total-width: 389px;
$pagg-slider-left-total-height: 372px;
$pagg-slider-left-image: 'sprite.png';
$pagg-slider-left: (314px, 248px, -314px, -248px, 18px, 27px, 389px, 372px, 'sprite.png', 'pagg-slider-left', );
$pagination-end-hover-name: 'pagination-end-hover';
$pagination-end-hover-x: 381px;
$pagination-end-hover-y: 0px;
$pagination-end-hover-offset-x: -381px;
$pagination-end-hover-offset-y: 0px;
$pagination-end-hover-width: 8px;
$pagination-end-hover-height: 17px;
$pagination-end-hover-total-width: 389px;
$pagination-end-hover-total-height: 372px;
$pagination-end-hover-image: 'sprite.png';
$pagination-end-hover: (381px, 0px, -381px, 0px, 8px, 17px, 389px, 372px, 'sprite.png', 'pagination-end-hover', );
$pagination-end-name: 'pagination-end';
$pagination-end-x: 300px;
$pagination-end-y: 248px;
$pagination-end-offset-x: -300px;
$pagination-end-offset-y: -248px;
$pagination-end-width: 8px;
$pagination-end-height: 17px;
$pagination-end-total-width: 389px;
$pagination-end-total-height: 372px;
$pagination-end-image: 'sprite.png';
$pagination-end: (300px, 248px, -300px, -248px, 8px, 17px, 389px, 372px, 'sprite.png', 'pagination-end', );
$pagination-next-hover-name: 'pagination-next-hover';
$pagination-next-hover-x: 381px;
$pagination-next-hover-y: 66px;
$pagination-next-hover-offset-x: -381px;
$pagination-next-hover-offset-y: -66px;
$pagination-next-hover-width: 6px;
$pagination-next-hover-height: 10px;
$pagination-next-hover-total-width: 389px;
$pagination-next-hover-total-height: 372px;
$pagination-next-hover-image: 'sprite.png';
$pagination-next-hover: (381px, 66px, -381px, -66px, 6px, 10px, 389px, 372px, 'sprite.png', 'pagination-next-hover', );
$pagination-next-name: 'pagination-next';
$pagination-next-x: 381px;
$pagination-next-y: 81px;
$pagination-next-offset-x: -381px;
$pagination-next-offset-y: -81px;
$pagination-next-width: 6px;
$pagination-next-height: 10px;
$pagination-next-total-width: 389px;
$pagination-next-total-height: 372px;
$pagination-next-image: 'sprite.png';
$pagination-next: (381px, 81px, -381px, -81px, 6px, 10px, 389px, 372px, 'sprite.png', 'pagination-next', );
$paypal-name: 'paypal';
$paypal-x: 92px;
$paypal-y: 50px;
$paypal-offset-x: -92px;
$paypal-offset-y: -50px;
$paypal-width: 81px;
$paypal-height: 34px;
$paypal-total-width: 389px;
$paypal-total-height: 372px;
$paypal-image: 'sprite.png';
$paypal: (92px, 50px, -92px, -50px, 81px, 34px, 389px, 372px, 'sprite.png', 'paypal', );
$phone-name: 'phone';
$phone-x: 347px;
$phone-y: 72px;
$phone-offset-x: -347px;
$phone-offset-y: -72px;
$phone-width: 27px;
$phone-height: 27px;
$phone-total-width: 389px;
$phone-total-height: 372px;
$phone-image: 'sprite.png';
$phone: (347px, 72px, -347px, -72px, 27px, 27px, 389px, 372px, 'sprite.png', 'phone', );
$points-time-arrow-name: 'points-time-arrow';
$points-time-arrow-x: 107px;
$points-time-arrow-y: 189px;
$points-time-arrow-offset-x: -107px;
$points-time-arrow-offset-y: -189px;
$points-time-arrow-width: 12px;
$points-time-arrow-height: 7px;
$points-time-arrow-total-width: 389px;
$points-time-arrow-total-height: 372px;
$points-time-arrow-image: 'sprite.png';
$points-time-arrow: (107px, 189px, -107px, -189px, 12px, 7px, 389px, 372px, 'sprite.png', 'points-time-arrow', );
$printable-add-name: 'printable-add';
$printable-add-x: 347px;
$printable-add-y: 0px;
$printable-add-offset-x: -347px;
$printable-add-offset-y: 0px;
$printable-add-width: 29px;
$printable-add-height: 31px;
$printable-add-total-width: 389px;
$printable-add-total-height: 372px;
$printable-add-image: 'sprite.png';
$printable-add: (347px, 0px, -347px, 0px, 29px, 31px, 389px, 372px, 'sprite.png', 'printable-add', );
$printable-remove-name: 'printable-remove';
$printable-remove-x: 347px;
$printable-remove-y: 36px;
$printable-remove-offset-x: -347px;
$printable-remove-offset-y: -36px;
$printable-remove-width: 29px;
$printable-remove-height: 31px;
$printable-remove-total-width: 389px;
$printable-remove-total-height: 372px;
$printable-remove-image: 'sprite.png';
$printable-remove: (347px, 36px, -347px, -36px, 29px, 31px, 389px, 372px, 'sprite.png', 'printable-remove', );
$product-list-item-slider-hover-name: 'product-list-item-slider-hover';
$product-list-item-slider-hover-x: 381px;
$product-list-item-slider-hover-y: 44px;
$product-list-item-slider-hover-offset-x: -381px;
$product-list-item-slider-hover-offset-y: -44px;
$product-list-item-slider-hover-width: 7px;
$product-list-item-slider-hover-height: 17px;
$product-list-item-slider-hover-total-width: 389px;
$product-list-item-slider-hover-total-height: 372px;
$product-list-item-slider-hover-image: 'sprite.png';
$product-list-item-slider-hover: (381px, 44px, -381px, -44px, 7px, 17px, 389px, 372px, 'sprite.png', 'product-list-item-slider-hover', );
$product-list-item-slider-name: 'product-list-item-slider';
$product-list-item-slider-x: 381px;
$product-list-item-slider-y: 22px;
$product-list-item-slider-offset-x: -381px;
$product-list-item-slider-offset-y: -22px;
$product-list-item-slider-width: 7px;
$product-list-item-slider-height: 17px;
$product-list-item-slider-total-width: 389px;
$product-list-item-slider-total-height: 372px;
$product-list-item-slider-image: 'sprite.png';
$product-list-item-slider: (381px, 22px, -381px, -22px, 7px, 17px, 389px, 372px, 'sprite.png', 'product-list-item-slider', );
$product-select-trigger-name: 'product-select-trigger';
$product-select-trigger-x: 85px;
$product-select-trigger-y: 189px;
$product-select-trigger-offset-x: -85px;
$product-select-trigger-offset-y: -189px;
$product-select-trigger-width: 17px;
$product-select-trigger-height: 7px;
$product-select-trigger-total-width: 389px;
$product-select-trigger-total-height: 372px;
$product-select-trigger-image: 'sprite.png';
$product-select-trigger: (85px, 189px, -85px, -189px, 17px, 7px, 389px, 372px, 'sprite.png', 'product-select-trigger', );
$product-size-hide-all-name: 'product-size-hide-all';
$product-size-hide-all-x: 314px;
$product-size-hide-all-y: 280px;
$product-size-hide-all-offset-x: -314px;
$product-size-hide-all-offset-y: -280px;
$product-size-hide-all-width: 16px;
$product-size-hide-all-height: 10px;
$product-size-hide-all-total-width: 389px;
$product-size-hide-all-total-height: 372px;
$product-size-hide-all-image: 'sprite.png';
$product-size-hide-all: (314px, 280px, -314px, -280px, 16px, 10px, 389px, 372px, 'sprite.png', 'product-size-hide-all', );
$product-size-show-all-name: 'product-size-show-all';
$product-size-show-all-x: 318px;
$product-size-show-all-y: 295px;
$product-size-show-all-offset-x: -318px;
$product-size-show-all-offset-y: -295px;
$product-size-show-all-width: 16px;
$product-size-show-all-height: 10px;
$product-size-show-all-total-width: 389px;
$product-size-show-all-total-height: 372px;
$product-size-show-all-image: 'sprite.png';
$product-size-show-all: (318px, 295px, -318px, -295px, 16px, 10px, 389px, 372px, 'sprite.png', 'product-size-show-all', );
$region-name: 'region';
$region-x: 314px;
$region-y: 217px;
$region-offset-x: -314px;
$region-offset-y: -217px;
$region-width: 22px;
$region-height: 26px;
$region-total-width: 389px;
$region-total-height: 372px;
$region-image: 'sprite.png';
$region: (314px, 217px, -314px, -217px, 22px, 26px, 389px, 372px, 'sprite.png', 'region', );
$related-slider-hover-name: 'related-slider-hover';
$related-slider-hover-x: 314px;
$related-slider-hover-y: 46px;
$related-slider-hover-offset-x: -314px;
$related-slider-hover-offset-y: -46px;
$related-slider-hover-width: 28px;
$related-slider-hover-height: 41px;
$related-slider-hover-total-width: 389px;
$related-slider-hover-total-height: 372px;
$related-slider-hover-image: 'sprite.png';
$related-slider-hover: (314px, 46px, -314px, -46px, 28px, 41px, 389px, 372px, 'sprite.png', 'related-slider-hover', );
$related-slider-name: 'related-slider';
$related-slider-x: 314px;
$related-slider-y: 0px;
$related-slider-offset-x: -314px;
$related-slider-offset-y: 0px;
$related-slider-width: 28px;
$related-slider-height: 41px;
$related-slider-total-width: 389px;
$related-slider-total-height: 372px;
$related-slider-image: 'sprite.png';
$related-slider: (314px, 0px, -314px, 0px, 28px, 41px, 389px, 372px, 'sprite.png', 'related-slider', );
$remove-small-name: 'remove-small';
$remove-small-x: 178px;
$remove-small-y: 248px;
$remove-small-offset-x: -178px;
$remove-small-offset-y: -248px;
$remove-small-width: 21px;
$remove-small-height: 22px;
$remove-small-total-width: 389px;
$remove-small-total-height: 372px;
$remove-small-image: 'sprite.png';
$remove-small: (178px, 248px, -178px, -248px, 21px, 22px, 389px, 372px, 'sprite.png', 'remove-small', );
$rub-grid-white-name: 'rub-grid-white';
$rub-grid-white-x: 0px;
$rub-grid-white-y: 330px;
$rub-grid-white-offset-x: 0px;
$rub-grid-white-offset-y: -330px;
$rub-grid-white-width: 8px;
$rub-grid-white-height: 25px;
$rub-grid-white-total-width: 389px;
$rub-grid-white-total-height: 372px;
$rub-grid-white-image: 'sprite.png';
$rub-grid-white: (0px, 330px, 0px, -330px, 8px, 25px, 389px, 372px, 'sprite.png', 'rub-grid-white', );
$rub-grid-name: 'rub-grid';
$rub-grid-x: 26px;
$rub-grid-y: 330px;
$rub-grid-offset-x: -26px;
$rub-grid-offset-y: -330px;
$rub-grid-width: 8px;
$rub-grid-height: 25px;
$rub-grid-total-width: 389px;
$rub-grid-total-height: 372px;
$rub-grid-image: 'sprite.png';
$rub-grid: (26px, 330px, -26px, -330px, 8px, 25px, 389px, 372px, 'sprite.png', 'rub-grid', );
$rub-small-name: 'rub-small';
$rub-small-x: 381px;
$rub-small-y: 128px;
$rub-small-offset-x: -381px;
$rub-small-offset-y: -128px;
$rub-small-width: 4px;
$rub-small-height: 12px;
$rub-small-total-width: 389px;
$rub-small-total-height: 372px;
$rub-small-image: 'sprite.png';
$rub-small: (381px, 128px, -381px, -128px, 4px, 12px, 389px, 372px, 'sprite.png', 'rub-small', );
$rub-name: 'rub';
$rub-x: 13px;
$rub-y: 330px;
$rub-offset-x: -13px;
$rub-offset-y: -330px;
$rub-width: 8px;
$rub-height: 25px;
$rub-total-width: 389px;
$rub-total-height: 372px;
$rub-image: 'sprite.png';
$rub: (13px, 330px, -13px, -330px, 8px, 25px, 389px, 372px, 'sprite.png', 'rub', );
$search-name: 'search';
$search-x: 257px;
$search-y: 295px;
$search-offset-x: -257px;
$search-offset-y: -295px;
$search-width: 18px;
$search-height: 17px;
$search-total-width: 389px;
$search-total-height: 372px;
$search-image: 'sprite.png';
$search: (257px, 295px, -257px, -295px, 18px, 17px, 389px, 372px, 'sprite.png', 'search', );
$select-trigger-name: 'select-trigger';
$select-trigger-x: 60px;
$select-trigger-y: 330px;
$select-trigger-offset-x: -60px;
$select-trigger-offset-y: -330px;
$select-trigger-width: 15px;
$select-trigger-height: 9px;
$select-trigger-total-width: 389px;
$select-trigger-total-height: 372px;
$select-trigger-image: 'sprite.png';
$select-trigger: (60px, 330px, -60px, -330px, 15px, 9px, 389px, 372px, 'sprite.png', 'select-trigger', );
$show-more-arrow-name: 'show-more-arrow';
$show-more-arrow-x: 39px;
$show-more-arrow-y: 330px;
$show-more-arrow-offset-x: -39px;
$show-more-arrow-offset-y: -330px;
$show-more-arrow-width: 16px;
$show-more-arrow-height: 9px;
$show-more-arrow-total-width: 389px;
$show-more-arrow-total-height: 372px;
$show-more-arrow-image: 'sprite.png';
$show-more-arrow: (39px, 330px, -39px, -330px, 16px, 9px, 389px, 372px, 'sprite.png', 'show-more-arrow', );
$size-available-big-name: 'size-available-big';
$size-available-big-x: 277px;
$size-available-big-y: 248px;
$size-available-big-offset-x: -277px;
$size-available-big-offset-y: -248px;
$size-available-big-width: 18px;
$size-available-big-height: 19px;
$size-available-big-total-width: 389px;
$size-available-big-total-height: 372px;
$size-available-big-image: 'sprite.png';
$size-available-big: (277px, 248px, -277px, -248px, 18px, 19px, 389px, 372px, 'sprite.png', 'size-available-big', );
$size-available-not-small-name: 'size-available-not-small';
$size-available-not-small-x: 39px;
$size-available-not-small-y: 344px;
$size-available-not-small-offset-x: -39px;
$size-available-not-small-offset-y: -344px;
$size-available-not-small-width: 11px;
$size-available-not-small-height: 11px;
$size-available-not-small-total-width: 389px;
$size-available-not-small-total-height: 372px;
$size-available-not-small-image: 'sprite.png';
$size-available-not-small: (39px, 344px, -39px, -344px, 11px, 11px, 389px, 372px, 'sprite.png', 'size-available-not-small', );
$size-available-order-small-name: 'size-available-order-small';
$size-available-order-small-x: 210px;
$size-available-order-small-y: 295px;
$size-available-order-small-offset-x: -210px;
$size-available-order-small-offset-y: -295px;
$size-available-order-small-width: 18px;
$size-available-order-small-height: 19px;
$size-available-order-small-total-width: 389px;
$size-available-order-small-total-height: 372px;
$size-available-order-small-image: 'sprite.png';
$size-available-order-small: (210px, 295px, -210px, -295px, 18px, 19px, 389px, 372px, 'sprite.png', 'size-available-order-small', );
$size-available-small-name: 'size-available-small';
$size-available-small-x: 254px;
$size-available-small-y: 248px;
$size-available-small-offset-x: -254px;
$size-available-small-offset-y: -248px;
$size-available-small-width: 18px;
$size-available-small-height: 19px;
$size-available-small-total-width: 389px;
$size-available-small-total-height: 372px;
$size-available-small-image: 'sprite.png';
$size-available-small: (254px, 248px, -254px, -248px, 18px, 19px, 389px, 372px, 'sprite.png', 'size-available-small', );
$slider-left-hover-name: 'slider-left-hover';
$slider-left-hover-x: 278px;
$slider-left-hover-y: 0px;
$slider-left-hover-offset-x: -278px;
$slider-left-hover-offset-y: 0px;
$slider-left-hover-width: 31px;
$slider-left-hover-height: 51px;
$slider-left-hover-total-width: 389px;
$slider-left-hover-total-height: 372px;
$slider-left-hover-image: 'sprite.png';
$slider-left-hover: (278px, 0px, -278px, 0px, 31px, 51px, 389px, 372px, 'sprite.png', 'slider-left-hover', );
$slider-left-name: 'slider-left';
$slider-left-x: 278px;
$slider-left-y: 112px;
$slider-left-offset-x: -278px;
$slider-left-offset-y: -112px;
$slider-left-width: 31px;
$slider-left-height: 51px;
$slider-left-total-width: 389px;
$slider-left-total-height: 372px;
$slider-left-image: 'sprite.png';
$slider-left: (278px, 112px, -278px, -112px, 31px, 51px, 389px, 372px, 'sprite.png', 'slider-left', );
$slider-right-hover-name: 'slider-right-hover';
$slider-right-hover-x: 278px;
$slider-right-hover-y: 168px;
$slider-right-hover-offset-x: -278px;
$slider-right-hover-offset-y: -168px;
$slider-right-hover-width: 31px;
$slider-right-hover-height: 51px;
$slider-right-hover-total-width: 389px;
$slider-right-hover-total-height: 372px;
$slider-right-hover-image: 'sprite.png';
$slider-right-hover: (278px, 168px, -278px, -168px, 31px, 51px, 389px, 372px, 'sprite.png', 'slider-right-hover', );
$slider-right-name: 'slider-right';
$slider-right-x: 278px;
$slider-right-y: 56px;
$slider-right-offset-x: -278px;
$slider-right-offset-y: -56px;
$slider-right-width: 31px;
$slider-right-height: 51px;
$slider-right-total-width: 389px;
$slider-right-total-height: 372px;
$slider-right-image: 'sprite.png';
$slider-right: (278px, 56px, -278px, -56px, 31px, 51px, 389px, 372px, 'sprite.png', 'slider-right', );
$star-white-name: 'star-white';
$star-white-x: 233px;
$star-white-y: 295px;
$star-white-offset-x: -233px;
$star-white-offset-y: -295px;
$star-white-width: 19px;
$star-white-height: 18px;
$star-white-total-width: 389px;
$star-white-total-height: 372px;
$star-white-image: 'sprite.png';
$star-white: (233px, 295px, -233px, -295px, 19px, 18px, 389px, 372px, 'sprite.png', 'star-white', );
$success-rounded-cart-name: 'success-rounded-cart';
$success-rounded-cart-x: 231px;
$success-rounded-cart-y: 155px;
$success-rounded-cart-offset-x: -231px;
$success-rounded-cart-offset-y: -155px;
$success-rounded-cart-width: 39px;
$success-rounded-cart-height: 39px;
$success-rounded-cart-total-width: 389px;
$success-rounded-cart-total-height: 372px;
$success-rounded-cart-image: 'sprite.png';
$success-rounded-cart: (231px, 155px, -231px, -155px, 39px, 39px, 389px, 372px, 'sprite.png', 'success-rounded-cart', );
$success-rounded-name: 'success-rounded';
$success-rounded-x: 62px;
$success-rounded-y: 141px;
$success-rounded-offset-x: -62px;
$success-rounded-offset-y: -141px;
$success-rounded-width: 43px;
$success-rounded-height: 43px;
$success-rounded-total-width: 389px;
$success-rounded-total-height: 372px;
$success-rounded-image: 'sprite.png';
$success-rounded: (62px, 141px, -62px, -141px, 43px, 43px, 389px, 372px, 'sprite.png', 'success-rounded', );
$twitter-name: 'twitter';
$twitter-x: 105px;
$twitter-y: 295px;
$twitter-offset-x: -105px;
$twitter-offset-y: -295px;
$twitter-width: 30px;
$twitter-height: 30px;
$twitter-total-width: 389px;
$twitter-total-height: 372px;
$twitter-image: 'sprite.png';
$twitter: (105px, 295px, -105px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'twitter', );
$uralsib-name: 'uralsib';
$uralsib-x: 0px;
$uralsib-y: 92px;
$uralsib-offset-x: 0px;
$uralsib-offset-y: -92px;
$uralsib-width: 114px;
$uralsib-height: 44px;
$uralsib-total-width: 389px;
$uralsib-total-height: 372px;
$uralsib-image: 'sprite.png';
$uralsib: (0px, 92px, 0px, -92px, 114px, 44px, 389px, 372px, 'sprite.png', 'uralsib', );
$view-3d-name: 'view-3d';
$view-3d-x: 0px;
$view-3d-y: 0px;
$view-3d-offset-x: 0px;
$view-3d-offset-y: 0px;
$view-3d-width: 87px;
$view-3d-height: 87px;
$view-3d-total-width: 389px;
$view-3d-total-height: 372px;
$view-3d-image: 'sprite.png';
$view-3d: (0px, 0px, 0px, 0px, 87px, 87px, 389px, 372px, 'sprite.png', 'view-3d', );
$visa-name: 'visa';
$visa-x: 110px;
$visa-y: 141px;
$visa-offset-x: -110px;
$visa-offset-y: -141px;
$visa-width: 53px;
$visa-height: 34px;
$visa-total-width: 389px;
$visa-total-height: 372px;
$visa-image: 'sprite.png';
$visa: (110px, 141px, -110px, -141px, 53px, 34px, 389px, 372px, 'sprite.png', 'visa', );
$vk-name: 'vk';
$vk-x: 70px;
$vk-y: 295px;
$vk-offset-x: -70px;
$vk-offset-y: -295px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 389px;
$vk-total-height: 372px;
$vk-image: 'sprite.png';
$vk: (70px, 295px, -70px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'vk', );
$warning-red-cart-name: 'warning-red-cart';
$warning-red-cart-x: 178px;
$warning-red-cart-y: 50px;
$warning-red-cart-offset-x: -178px;
$warning-red-cart-offset-y: -50px;
$warning-red-cart-width: 38px;
$warning-red-cart-height: 33px;
$warning-red-cart-total-width: 389px;
$warning-red-cart-total-height: 372px;
$warning-red-cart-image: 'sprite.png';
$warning-red-cart: (178px, 50px, -178px, -50px, 38px, 33px, 389px, 372px, 'sprite.png', 'warning-red-cart', );
$warning-red-name: 'warning-red';
$warning-red-x: 347px;
$warning-red-y: 104px;
$warning-red-offset-x: -347px;
$warning-red-offset-y: -104px;
$warning-red-width: 28px;
$warning-red-height: 25px;
$warning-red-total-width: 389px;
$warning-red-total-height: 372px;
$warning-red-image: 'sprite.png';
$warning-red: (347px, 104px, -347px, -104px, 28px, 25px, 389px, 372px, 'sprite.png', 'warning-red', );
$warning-name: 'warning';
$warning-x: 347px;
$warning-y: 134px;
$warning-offset-x: -347px;
$warning-offset-y: -134px;
$warning-width: 28px;
$warning-height: 25px;
$warning-total-width: 389px;
$warning-total-height: 372px;
$warning-image: 'sprite.png';
$warning: (347px, 134px, -347px, -134px, 28px, 25px, 389px, 372px, 'sprite.png', 'warning', );
$youtube-name: 'youtube';
$youtube-x: 0px;
$youtube-y: 295px;
$youtube-offset-x: 0px;
$youtube-offset-y: -295px;
$youtube-width: 30px;
$youtube-height: 30px;
$youtube-total-width: 389px;
$youtube-total-height: 372px;
$youtube-image: 'sprite.png';
$youtube: (0px, 295px, 0px, -295px, 30px, 30px, 389px, 372px, 'sprite.png', 'youtube', );
$spritesheet-width: 389px;
$spritesheet-height: 372px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($alfa-bank, $arrow-to-top, $basket-grid-hover, $basket-grid, $basket-rounded, $basket, $btn-size, $cart-slider, $catalog-btn, $catalog-slider-hover, $catalog-slider, $checkbox-checked-big, $checkbox-checked, $color-transp, $contacts-address-active, $contacts-address, $contacts-email, $contacts-phone, $contacts-time, $credit, $facebook, $filter-trigger, $heading-checkout, $heading-contacts, $heading-delivery, $heading-feedback, $heading-office, $heading-regions, $heading-share, $heading-warranty, $heart-o, $instagram, $logout, $main-menu-arrow-hover, $main-menu-arrow, $mastercard, $menu-heart-hover, $menu-heart, $menu-minus, $menu-plus, $menu-right, $menu, $odnoklassniki, $pagg-slider-left-hover, $pagg-slider-left, $pagination-end-hover, $pagination-end, $pagination-next-hover, $pagination-next, $paypal, $phone, $points-time-arrow, $printable-add, $printable-remove, $product-list-item-slider-hover, $product-list-item-slider, $product-select-trigger, $product-size-hide-all, $product-size-show-all, $region, $related-slider-hover, $related-slider, $remove-small, $rub-grid-white, $rub-grid, $rub-small, $rub, $search, $select-trigger, $show-more-arrow, $size-available-big, $size-available-not-small, $size-available-order-small, $size-available-small, $slider-left-hover, $slider-left, $slider-right-hover, $slider-right, $star-white, $success-rounded-cart, $success-rounded, $twitter, $uralsib, $view-3d, $visa, $vk, $warning-red-cart, $warning-red, $warning, $youtube, );
$spritesheet: (389px, 372px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
