// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alfa-bank-name: 'alfa-bank';
$alfa-bank-x: 92px;
$alfa-bank-y: 0px;
$alfa-bank-offset-x: -92px;
$alfa-bank-offset-y: 0px;
$alfa-bank-width: 134px;
$alfa-bank-height: 45px;
$alfa-bank-total-width: 383px;
$alfa-bank-total-height: 360px;
$alfa-bank-image: 'sprite.png';
$alfa-bank: (92px, 0px, -92px, 0px, 134px, 45px, 383px, 360px, 'sprite.png', 'alfa-bank', );
$arrow-to-top-name: 'arrow-to-top';
$arrow-to-top-x: 354px;
$arrow-to-top-y: 311px;
$arrow-to-top-offset-x: -354px;
$arrow-to-top-offset-y: -311px;
$arrow-to-top-width: 23px;
$arrow-to-top-height: 14px;
$arrow-to-top-total-width: 383px;
$arrow-to-top-total-height: 360px;
$arrow-to-top-image: 'sprite.png';
$arrow-to-top: (354px, 311px, -354px, -311px, 23px, 14px, 383px, 360px, 'sprite.png', 'arrow-to-top', );
$basket-grid-hover-name: 'basket-grid-hover';
$basket-grid-hover-x: 127px;
$basket-grid-hover-y: 248px;
$basket-grid-hover-offset-x: -127px;
$basket-grid-hover-offset-y: -248px;
$basket-grid-hover-width: 39px;
$basket-grid-hover-height: 27px;
$basket-grid-hover-total-width: 383px;
$basket-grid-hover-total-height: 360px;
$basket-grid-hover-image: 'sprite.png';
$basket-grid-hover: (127px, 248px, -127px, -248px, 39px, 27px, 383px, 360px, 'sprite.png', 'basket-grid-hover', );
$basket-grid-name: 'basket-grid';
$basket-grid-x: 171px;
$basket-grid-y: 248px;
$basket-grid-offset-x: -171px;
$basket-grid-offset-y: -248px;
$basket-grid-width: 39px;
$basket-grid-height: 27px;
$basket-grid-total-width: 383px;
$basket-grid-total-height: 360px;
$basket-grid-image: 'sprite.png';
$basket-grid: (171px, 248px, -171px, -248px, 39px, 27px, 383px, 360px, 'sprite.png', 'basket-grid', );
$basket-rounded-name: 'basket-rounded';
$basket-rounded-x: 0px;
$basket-rounded-y: 141px;
$basket-rounded-offset-x: 0px;
$basket-rounded-offset-y: -141px;
$basket-rounded-width: 57px;
$basket-rounded-height: 57px;
$basket-rounded-total-width: 383px;
$basket-rounded-total-height: 360px;
$basket-rounded-image: 'sprite.png';
$basket-rounded: (0px, 141px, 0px, -141px, 57px, 57px, 383px, 360px, 'sprite.png', 'basket-rounded', );
$basket-name: 'basket';
$basket-x: 314px;
$basket-y: 258px;
$basket-offset-x: -314px;
$basket-offset-y: -258px;
$basket-width: 35px;
$basket-height: 26px;
$basket-total-width: 383px;
$basket-total-height: 360px;
$basket-image: 'sprite.png';
$basket: (314px, 258px, -314px, -258px, 35px, 26px, 383px, 360px, 'sprite.png', 'basket', );
$btn-size-name: 'btn-size';
$btn-size-x: 314px;
$btn-size-y: 225px;
$btn-size-offset-x: -314px;
$btn-size-offset-y: -225px;
$btn-size-width: 33px;
$btn-size-height: 28px;
$btn-size-total-width: 383px;
$btn-size-total-height: 360px;
$btn-size-image: 'sprite.png';
$btn-size: (314px, 225px, -314px, -225px, 33px, 28px, 383px, 360px, 'sprite.png', 'btn-size', );
$cart-popup-slider-name: 'cart-popup-slider';
$cart-popup-slider-x: 314px;
$cart-popup-slider-y: 44px;
$cart-popup-slider-offset-x: -314px;
$cart-popup-slider-offset-y: -44px;
$cart-popup-slider-width: 27px;
$cart-popup-slider-height: 48px;
$cart-popup-slider-total-width: 383px;
$cart-popup-slider-total-height: 360px;
$cart-popup-slider-image: 'sprite.png';
$cart-popup-slider: (314px, 44px, -314px, -44px, 27px, 48px, 383px, 360px, 'sprite.png', 'cart-popup-slider', );
$cart-slider-name: 'cart-slider';
$cart-slider-x: 46px;
$cart-slider-y: 333px;
$cart-slider-offset-x: -46px;
$cart-slider-offset-y: -333px;
$cart-slider-width: 11px;
$cart-slider-height: 26px;
$cart-slider-total-width: 383px;
$cart-slider-total-height: 360px;
$cart-slider-image: 'sprite.png';
$cart-slider: (46px, 333px, -46px, -333px, 11px, 26px, 383px, 360px, 'sprite.png', 'cart-slider', );
$catalog-btn-name: 'catalog-btn';
$catalog-btn-x: 73px;
$catalog-btn-y: 223px;
$catalog-btn-offset-x: -73px;
$catalog-btn-offset-y: -223px;
$catalog-btn-width: 20px;
$catalog-btn-height: 20px;
$catalog-btn-total-width: 383px;
$catalog-btn-total-height: 360px;
$catalog-btn-image: 'sprite.png';
$catalog-btn: (73px, 223px, -73px, -223px, 20px, 20px, 383px, 360px, 'sprite.png', 'catalog-btn', );
$catalog-slider-hover-name: 'catalog-slider-hover';
$catalog-slider-hover-x: 231px;
$catalog-slider-hover-y: 101px;
$catalog-slider-hover-offset-x: -231px;
$catalog-slider-hover-offset-y: -101px;
$catalog-slider-hover-width: 33px;
$catalog-slider-hover-height: 49px;
$catalog-slider-hover-total-width: 383px;
$catalog-slider-hover-total-height: 360px;
$catalog-slider-hover-image: 'sprite.png';
$catalog-slider-hover: (231px, 101px, -231px, -101px, 33px, 49px, 383px, 360px, 'sprite.png', 'catalog-slider-hover', );
$catalog-slider-name: 'catalog-slider';
$catalog-slider-x: 231px;
$catalog-slider-y: 47px;
$catalog-slider-offset-x: -231px;
$catalog-slider-offset-y: -47px;
$catalog-slider-width: 33px;
$catalog-slider-height: 49px;
$catalog-slider-total-width: 383px;
$catalog-slider-total-height: 360px;
$catalog-slider-image: 'sprite.png';
$catalog-slider: (231px, 47px, -231px, -47px, 33px, 49px, 383px, 360px, 'sprite.png', 'catalog-slider', );
$checkbox-checked-big-name: 'checkbox-checked-big';
$checkbox-checked-big-x: 354px;
$checkbox-checked-big-y: 164px;
$checkbox-checked-big-offset-x: -354px;
$checkbox-checked-big-offset-y: -164px;
$checkbox-checked-big-width: 25px;
$checkbox-checked-big-height: 26px;
$checkbox-checked-big-total-width: 383px;
$checkbox-checked-big-total-height: 360px;
$checkbox-checked-big-image: 'sprite.png';
$checkbox-checked-big: (354px, 164px, -354px, -164px, 25px, 26px, 383px, 360px, 'sprite.png', 'checkbox-checked-big', );
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 98px;
$checkbox-checked-y: 223px;
$checkbox-checked-offset-x: -98px;
$checkbox-checked-offset-y: -223px;
$checkbox-checked-width: 18px;
$checkbox-checked-height: 19px;
$checkbox-checked-total-width: 383px;
$checkbox-checked-total-height: 360px;
$checkbox-checked-image: 'sprite.png';
$checkbox-checked: (98px, 223px, -98px, -223px, 18px, 19px, 383px, 360px, 'sprite.png', 'checkbox-checked', );
$color-transp-name: 'color-transp';
$color-transp-x: 181px;
$color-transp-y: 92px;
$color-transp-offset-x: -181px;
$color-transp-offset-y: -92px;
$color-transp-width: 40px;
$color-transp-height: 31px;
$color-transp-total-width: 383px;
$color-transp-total-height: 360px;
$color-transp-image: 'sprite.png';
$color-transp: (181px, 92px, -181px, -92px, 40px, 31px, 383px, 360px, 'sprite.png', 'color-transp', );
$contacts-address-active-name: 'contacts-address-active';
$contacts-address-active-x: 354px;
$contacts-address-active-y: 253px;
$contacts-address-active-offset-x: -354px;
$contacts-address-active-offset-y: -253px;
$contacts-address-active-width: 24px;
$contacts-address-active-height: 24px;
$contacts-address-active-total-width: 383px;
$contacts-address-active-total-height: 360px;
$contacts-address-active-image: 'sprite.png';
$contacts-address-active: (354px, 253px, -354px, -253px, 24px, 24px, 383px, 360px, 'sprite.png', 'contacts-address-active', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 273px;
$contacts-address-y: 248px;
$contacts-address-offset-x: -273px;
$contacts-address-offset-y: -248px;
$contacts-address-width: 24px;
$contacts-address-height: 24px;
$contacts-address-total-width: 383px;
$contacts-address-total-height: 360px;
$contacts-address-image: 'sprite.png';
$contacts-address: (273px, 248px, -273px, -248px, 24px, 24px, 383px, 360px, 'sprite.png', 'contacts-address', );
$contacts-email-name: 'contacts-email';
$contacts-email-x: 244px;
$contacts-email-y: 248px;
$contacts-email-offset-x: -244px;
$contacts-email-offset-y: -248px;
$contacts-email-width: 24px;
$contacts-email-height: 24px;
$contacts-email-total-width: 383px;
$contacts-email-total-height: 360px;
$contacts-email-image: 'sprite.png';
$contacts-email: (244px, 248px, -244px, -248px, 24px, 24px, 383px, 360px, 'sprite.png', 'contacts-email', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 215px;
$contacts-phone-y: 248px;
$contacts-phone-offset-x: -215px;
$contacts-phone-offset-y: -248px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 383px;
$contacts-phone-total-height: 360px;
$contacts-phone-image: 'sprite.png';
$contacts-phone: (215px, 248px, -215px, -248px, 24px, 24px, 383px, 360px, 'sprite.png', 'contacts-phone', );
$contacts-time-name: 'contacts-time';
$contacts-time-x: 354px;
$contacts-time-y: 282px;
$contacts-time-offset-x: -354px;
$contacts-time-offset-y: -282px;
$contacts-time-width: 24px;
$contacts-time-height: 24px;
$contacts-time-total-width: 383px;
$contacts-time-total-height: 360px;
$contacts-time-image: 'sprite.png';
$contacts-time: (354px, 282px, -354px, -282px, 24px, 24px, 383px, 360px, 'sprite.png', 'contacts-time', );
$coolmax-name: 'coolmax';
$coolmax-x: 48px;
$coolmax-y: 203px;
$coolmax-offset-x: -48px;
$coolmax-offset-y: -203px;
$coolmax-width: 101px;
$coolmax-height: 15px;
$coolmax-total-width: 383px;
$coolmax-total-height: 360px;
$coolmax-image: 'sprite.png';
$coolmax: (48px, 203px, -48px, -203px, 101px, 15px, 383px, 360px, 'sprite.png', 'coolmax', );
$credit-name: 'credit';
$credit-x: 314px;
$credit-y: 189px;
$credit-offset-x: -314px;
$credit-offset-y: -189px;
$credit-width: 31px;
$credit-height: 31px;
$credit-total-width: 383px;
$credit-total-height: 360px;
$credit-image: 'sprite.png';
$credit: (314px, 189px, -314px, -189px, 31px, 31px, 383px, 360px, 'sprite.png', 'credit', );
$facebook-name: 'facebook';
$facebook-x: 138px;
$facebook-y: 295px;
$facebook-offset-x: -138px;
$facebook-offset-y: -295px;
$facebook-width: 30px;
$facebook-height: 30px;
$facebook-total-width: 383px;
$facebook-total-height: 360px;
$facebook-image: 'sprite.png';
$facebook: (138px, 295px, -138px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'facebook', );
$file-upload-name: 'file-upload';
$file-upload-x: 296px;
$file-upload-y: 295px;
$file-upload-offset-x: -296px;
$file-upload-offset-y: -295px;
$file-upload-width: 21px;
$file-upload-height: 21px;
$file-upload-total-width: 383px;
$file-upload-total-height: 360px;
$file-upload-image: 'sprite.png';
$file-upload: (296px, 295px, -296px, -295px, 21px, 21px, 383px, 360px, 'sprite.png', 'file-upload', );
$filter-trigger-name: 'filter-trigger';
$filter-trigger-x: 62px;
$filter-trigger-y: 189px;
$filter-trigger-offset-x: -62px;
$filter-trigger-offset-y: -189px;
$filter-trigger-width: 18px;
$filter-trigger-height: 8px;
$filter-trigger-total-width: 383px;
$filter-trigger-total-height: 360px;
$filter-trigger-image: 'sprite.png';
$filter-trigger: (62px, 189px, -62px, -189px, 18px, 8px, 383px, 360px, 'sprite.png', 'filter-trigger', );
$heading-checkout-name: 'heading-checkout';
$heading-checkout-x: 0px;
$heading-checkout-y: 203px;
$heading-checkout-offset-x: 0px;
$heading-checkout-offset-y: -203px;
$heading-checkout-width: 43px;
$heading-checkout-height: 40px;
$heading-checkout-total-width: 383px;
$heading-checkout-total-height: 360px;
$heading-checkout-image: 'sprite.png';
$heading-checkout: (0px, 203px, 0px, -203px, 43px, 40px, 383px, 360px, 'sprite.png', 'heading-checkout', );
$heading-contacts-name: 'heading-contacts';
$heading-contacts-x: 41px;
$heading-contacts-y: 248px;
$heading-contacts-offset-x: -41px;
$heading-contacts-offset-y: -248px;
$heading-contacts-width: 39px;
$heading-contacts-height: 38px;
$heading-contacts-total-width: 383px;
$heading-contacts-total-height: 360px;
$heading-contacts-image: 'sprite.png';
$heading-contacts: (41px, 248px, -41px, -248px, 39px, 38px, 383px, 360px, 'sprite.png', 'heading-contacts', );
$heading-delivery-name: 'heading-delivery';
$heading-delivery-x: 168px;
$heading-delivery-y: 141px;
$heading-delivery-offset-x: -168px;
$heading-delivery-offset-y: -141px;
$heading-delivery-width: 55px;
$heading-delivery-height: 31px;
$heading-delivery-total-width: 383px;
$heading-delivery-total-height: 360px;
$heading-delivery-image: 'sprite.png';
$heading-delivery: (168px, 141px, -168px, -141px, 55px, 31px, 383px, 360px, 'sprite.png', 'heading-delivery', );
$heading-feedback-name: 'heading-feedback';
$heading-feedback-x: 314px;
$heading-feedback-y: 0px;
$heading-feedback-offset-x: -314px;
$heading-feedback-offset-y: 0px;
$heading-feedback-width: 35px;
$heading-feedback-height: 39px;
$heading-feedback-total-width: 383px;
$heading-feedback-total-height: 360px;
$heading-feedback-image: 'sprite.png';
$heading-feedback: (314px, 0px, -314px, 0px, 35px, 39px, 383px, 360px, 'sprite.png', 'heading-feedback', );
$heading-office-name: 'heading-office';
$heading-office-x: 0px;
$heading-office-y: 248px;
$heading-office-offset-x: 0px;
$heading-office-offset-y: -248px;
$heading-office-width: 36px;
$heading-office-height: 42px;
$heading-office-total-width: 383px;
$heading-office-total-height: 360px;
$heading-office-image: 'sprite.png';
$heading-office: (0px, 248px, 0px, -248px, 36px, 42px, 383px, 360px, 'sprite.png', 'heading-office', );
$heading-regions-name: 'heading-regions';
$heading-regions-x: 0px;
$heading-regions-y: 295px;
$heading-regions-offset-x: 0px;
$heading-regions-offset-y: -295px;
$heading-regions-width: 28px;
$heading-regions-height: 33px;
$heading-regions-total-width: 383px;
$heading-regions-total-height: 360px;
$heading-regions-image: 'sprite.png';
$heading-regions: (0px, 295px, 0px, -295px, 28px, 33px, 383px, 360px, 'sprite.png', 'heading-regions', );
$heading-share-name: 'heading-share';
$heading-share-x: 231px;
$heading-share-y: 0px;
$heading-share-offset-x: -231px;
$heading-share-offset-y: 0px;
$heading-share-width: 42px;
$heading-share-height: 42px;
$heading-share-total-width: 383px;
$heading-share-total-height: 360px;
$heading-share-image: 'sprite.png';
$heading-share: (231px, 0px, -231px, 0px, 42px, 42px, 383px, 360px, 'sprite.png', 'heading-share', );
$heading-warranty-name: 'heading-warranty';
$heading-warranty-x: 85px;
$heading-warranty-y: 248px;
$heading-warranty-offset-x: -85px;
$heading-warranty-offset-y: -248px;
$heading-warranty-width: 37px;
$heading-warranty-height: 36px;
$heading-warranty-total-width: 383px;
$heading-warranty-total-height: 360px;
$heading-warranty-image: 'sprite.png';
$heading-warranty: (85px, 248px, -85px, -248px, 37px, 36px, 383px, 360px, 'sprite.png', 'heading-warranty', );
$heart-o-name: 'heart-o';
$heart-o-x: 354px;
$heart-o-y: 195px;
$heart-o-offset-x: -354px;
$heart-o-offset-y: -195px;
$heart-o-width: 25px;
$heart-o-height: 25px;
$heart-o-total-width: 383px;
$heart-o-total-height: 360px;
$heart-o-image: 'sprite.png';
$heart-o: (354px, 195px, -354px, -195px, 25px, 25px, 383px, 360px, 'sprite.png', 'heart-o', );
$instagram-name: 'instagram';
$instagram-x: 33px;
$instagram-y: 295px;
$instagram-offset-x: -33px;
$instagram-offset-y: -295px;
$instagram-width: 30px;
$instagram-height: 30px;
$instagram-total-width: 383px;
$instagram-total-height: 360px;
$instagram-image: 'sprite.png';
$instagram: (33px, 295px, -33px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'instagram', );
$logout-name: 'logout';
$logout-x: 354px;
$logout-y: 225px;
$logout-offset-x: -354px;
$logout-offset-y: -225px;
$logout-width: 27px;
$logout-height: 23px;
$logout-total-width: 383px;
$logout-total-height: 360px;
$logout-image: 'sprite.png';
$logout: (354px, 225px, -354px, -225px, 27px, 23px, 383px, 360px, 'sprite.png', 'logout', );
$main-menu-arrow-hover-name: 'main-menu-arrow-hover';
$main-menu-arrow-hover-x: 221px;
$main-menu-arrow-hover-y: 66px;
$main-menu-arrow-hover-offset-x: -221px;
$main-menu-arrow-hover-offset-y: -66px;
$main-menu-arrow-hover-width: 5px;
$main-menu-arrow-hover-height: 11px;
$main-menu-arrow-hover-total-width: 383px;
$main-menu-arrow-hover-total-height: 360px;
$main-menu-arrow-hover-image: 'sprite.png';
$main-menu-arrow-hover: (221px, 66px, -221px, -66px, 5px, 11px, 383px, 360px, 'sprite.png', 'main-menu-arrow-hover', );
$main-menu-arrow-name: 'main-menu-arrow';
$main-menu-arrow-x: 221px;
$main-menu-arrow-y: 50px;
$main-menu-arrow-offset-x: -221px;
$main-menu-arrow-offset-y: -50px;
$main-menu-arrow-width: 5px;
$main-menu-arrow-height: 11px;
$main-menu-arrow-total-width: 383px;
$main-menu-arrow-total-height: 360px;
$main-menu-arrow-image: 'sprite.png';
$main-menu-arrow: (221px, 50px, -221px, -50px, 5px, 11px, 383px, 360px, 'sprite.png', 'main-menu-arrow', );
$mastercard-name: 'mastercard';
$mastercard-x: 119px;
$mastercard-y: 92px;
$mastercard-offset-x: -119px;
$mastercard-offset-y: -92px;
$mastercard-width: 57px;
$mastercard-height: 35px;
$mastercard-total-width: 383px;
$mastercard-total-height: 360px;
$mastercard-image: 'sprite.png';
$mastercard: (119px, 92px, -119px, -92px, 57px, 35px, 383px, 360px, 'sprite.png', 'mastercard', );
$menu-heart-hover-name: 'menu-heart-hover';
$menu-heart-hover-x: 140px;
$menu-heart-hover-y: 333px;
$menu-heart-hover-offset-x: -140px;
$menu-heart-hover-offset-y: -333px;
$menu-heart-hover-width: 11px;
$menu-heart-hover-height: 12px;
$menu-heart-hover-total-width: 383px;
$menu-heart-hover-total-height: 360px;
$menu-heart-hover-image: 'sprite.png';
$menu-heart-hover: (140px, 333px, -140px, -333px, 11px, 12px, 383px, 360px, 'sprite.png', 'menu-heart-hover', );
$menu-heart-name: 'menu-heart';
$menu-heart-x: 335px;
$menu-heart-y: 295px;
$menu-heart-offset-x: -335px;
$menu-heart-offset-y: -295px;
$menu-heart-width: 12px;
$menu-heart-height: 12px;
$menu-heart-total-width: 383px;
$menu-heart-total-height: 360px;
$menu-heart-image: 'sprite.png';
$menu-heart: (335px, 295px, -335px, -295px, 12px, 12px, 383px, 360px, 'sprite.png', 'menu-heart', );
$menu-minus-name: 'menu-minus';
$menu-minus-x: 253px;
$menu-minus-y: 223px;
$menu-minus-offset-x: -253px;
$menu-minus-offset-y: -223px;
$menu-minus-width: 14px;
$menu-minus-height: 14px;
$menu-minus-total-width: 383px;
$menu-minus-total-height: 360px;
$menu-minus-image: 'sprite.png';
$menu-minus: (253px, 223px, -253px, -223px, 14px, 14px, 383px, 360px, 'sprite.png', 'menu-minus', );
$menu-plus-name: 'menu-plus';
$menu-plus-x: 234px;
$menu-plus-y: 223px;
$menu-plus-offset-x: -234px;
$menu-plus-offset-y: -223px;
$menu-plus-width: 14px;
$menu-plus-height: 14px;
$menu-plus-total-width: 383px;
$menu-plus-total-height: 360px;
$menu-plus-image: 'sprite.png';
$menu-plus: (234px, 223px, -234px, -223px, 14px, 14px, 383px, 360px, 'sprite.png', 'menu-plus', );
$menu-right-name: 'menu-right';
$menu-right-x: 322px;
$menu-right-y: 295px;
$menu-right-offset-x: -322px;
$menu-right-offset-y: -295px;
$menu-right-width: 8px;
$menu-right-height: 18px;
$menu-right-total-width: 383px;
$menu-right-total-height: 360px;
$menu-right-image: 'sprite.png';
$menu-right: (322px, 295px, -322px, -295px, 8px, 18px, 383px, 360px, 'sprite.png', 'menu-right', );
$menu-name: 'menu';
$menu-x: 48px;
$menu-y: 223px;
$menu-offset-x: -48px;
$menu-offset-y: -223px;
$menu-width: 20px;
$menu-height: 20px;
$menu-total-width: 383px;
$menu-total-height: 360px;
$menu-image: 'sprite.png';
$menu: (48px, 223px, -48px, -223px, 20px, 20px, 383px, 360px, 'sprite.png', 'menu', );
$odnoklassniki-name: 'odnoklassniki';
$odnoklassniki-x: 68px;
$odnoklassniki-y: 295px;
$odnoklassniki-offset-x: -68px;
$odnoklassniki-offset-y: -295px;
$odnoklassniki-width: 30px;
$odnoklassniki-height: 30px;
$odnoklassniki-total-width: 383px;
$odnoklassniki-total-height: 360px;
$odnoklassniki-image: 'sprite.png';
$odnoklassniki: (68px, 295px, -68px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'odnoklassniki', );
$pagg-slider-left-hover-name: 'pagg-slider-left-hover';
$pagg-slider-left-hover-x: 23px;
$pagg-slider-left-hover-y: 333px;
$pagg-slider-left-hover-offset-x: -23px;
$pagg-slider-left-hover-offset-y: -333px;
$pagg-slider-left-hover-width: 18px;
$pagg-slider-left-hover-height: 27px;
$pagg-slider-left-hover-total-width: 383px;
$pagg-slider-left-hover-total-height: 360px;
$pagg-slider-left-hover-image: 'sprite.png';
$pagg-slider-left-hover: (23px, 333px, -23px, -333px, 18px, 27px, 383px, 360px, 'sprite.png', 'pagg-slider-left-hover', );
$pagg-slider-left-name: 'pagg-slider-left';
$pagg-slider-left-x: 0px;
$pagg-slider-left-y: 333px;
$pagg-slider-left-offset-x: 0px;
$pagg-slider-left-offset-y: -333px;
$pagg-slider-left-width: 18px;
$pagg-slider-left-height: 27px;
$pagg-slider-left-total-width: 383px;
$pagg-slider-left-total-height: 360px;
$pagg-slider-left-image: 'sprite.png';
$pagg-slider-left: (0px, 333px, 0px, -333px, 18px, 27px, 383px, 360px, 'sprite.png', 'pagg-slider-left', );
$pagination-end-hover-name: 'pagination-end-hover';
$pagination-end-hover-x: 114px;
$pagination-end-hover-y: 333px;
$pagination-end-hover-offset-x: -114px;
$pagination-end-hover-offset-y: -333px;
$pagination-end-hover-width: 8px;
$pagination-end-hover-height: 17px;
$pagination-end-hover-total-width: 383px;
$pagination-end-hover-total-height: 360px;
$pagination-end-hover-image: 'sprite.png';
$pagination-end-hover: (114px, 333px, -114px, -333px, 8px, 17px, 383px, 360px, 'sprite.png', 'pagination-end-hover', );
$pagination-end-name: 'pagination-end';
$pagination-end-x: 127px;
$pagination-end-y: 333px;
$pagination-end-offset-x: -127px;
$pagination-end-offset-y: -333px;
$pagination-end-width: 8px;
$pagination-end-height: 17px;
$pagination-end-total-width: 383px;
$pagination-end-total-height: 360px;
$pagination-end-image: 'sprite.png';
$pagination-end: (127px, 333px, -127px, -333px, 8px, 17px, 383px, 360px, 'sprite.png', 'pagination-end', );
$pagination-next-hover-name: 'pagination-next-hover';
$pagination-next-hover-x: 183px;
$pagination-next-hover-y: 333px;
$pagination-next-hover-offset-x: -183px;
$pagination-next-hover-offset-y: -333px;
$pagination-next-hover-width: 6px;
$pagination-next-hover-height: 10px;
$pagination-next-hover-total-width: 383px;
$pagination-next-hover-total-height: 360px;
$pagination-next-hover-image: 'sprite.png';
$pagination-next-hover: (183px, 333px, -183px, -333px, 6px, 10px, 383px, 360px, 'sprite.png', 'pagination-next-hover', );
$pagination-next-name: 'pagination-next';
$pagination-next-x: 172px;
$pagination-next-y: 333px;
$pagination-next-offset-x: -172px;
$pagination-next-offset-y: -333px;
$pagination-next-width: 6px;
$pagination-next-height: 10px;
$pagination-next-total-width: 383px;
$pagination-next-total-height: 360px;
$pagination-next-image: 'sprite.png';
$pagination-next: (172px, 333px, -172px, -333px, 6px, 10px, 383px, 360px, 'sprite.png', 'pagination-next', );
$paypal-name: 'paypal';
$paypal-x: 92px;
$paypal-y: 50px;
$paypal-offset-x: -92px;
$paypal-offset-y: -50px;
$paypal-width: 81px;
$paypal-height: 34px;
$paypal-total-width: 383px;
$paypal-total-height: 360px;
$paypal-image: 'sprite.png';
$paypal: (92px, 50px, -92px, -50px, 81px, 34px, 383px, 360px, 'sprite.png', 'paypal', );
$phone-name: 'phone';
$phone-x: 354px;
$phone-y: 72px;
$phone-offset-x: -354px;
$phone-offset-y: -72px;
$phone-width: 27px;
$phone-height: 27px;
$phone-total-width: 383px;
$phone-total-height: 360px;
$phone-image: 'sprite.png';
$phone: (354px, 72px, -354px, -72px, 27px, 27px, 383px, 360px, 'sprite.png', 'phone', );
$points-time-arrow-name: 'points-time-arrow';
$points-time-arrow-x: 129px;
$points-time-arrow-y: 189px;
$points-time-arrow-offset-x: -129px;
$points-time-arrow-offset-y: -189px;
$points-time-arrow-width: 12px;
$points-time-arrow-height: 7px;
$points-time-arrow-total-width: 383px;
$points-time-arrow-total-height: 360px;
$points-time-arrow-image: 'sprite.png';
$points-time-arrow: (129px, 189px, -129px, -189px, 12px, 7px, 383px, 360px, 'sprite.png', 'points-time-arrow', );
$printable-add-name: 'printable-add';
$printable-add-x: 354px;
$printable-add-y: 36px;
$printable-add-offset-x: -354px;
$printable-add-offset-y: -36px;
$printable-add-width: 29px;
$printable-add-height: 31px;
$printable-add-total-width: 383px;
$printable-add-total-height: 360px;
$printable-add-image: 'sprite.png';
$printable-add: (354px, 36px, -354px, -36px, 29px, 31px, 383px, 360px, 'sprite.png', 'printable-add', );
$printable-remove-name: 'printable-remove';
$printable-remove-x: 354px;
$printable-remove-y: 0px;
$printable-remove-offset-x: -354px;
$printable-remove-offset-y: 0px;
$printable-remove-width: 29px;
$printable-remove-height: 31px;
$printable-remove-total-width: 383px;
$printable-remove-total-height: 360px;
$printable-remove-image: 'sprite.png';
$printable-remove: (354px, 0px, -354px, 0px, 29px, 31px, 383px, 360px, 'sprite.png', 'printable-remove', );
$product-list-item-slider-hover-name: 'product-list-item-slider-hover';
$product-list-item-slider-hover-x: 302px;
$product-list-item-slider-hover-y: 224px;
$product-list-item-slider-hover-offset-x: -302px;
$product-list-item-slider-hover-offset-y: -224px;
$product-list-item-slider-hover-width: 7px;
$product-list-item-slider-hover-height: 17px;
$product-list-item-slider-hover-total-width: 383px;
$product-list-item-slider-hover-total-height: 360px;
$product-list-item-slider-hover-image: 'sprite.png';
$product-list-item-slider-hover: (302px, 224px, -302px, -224px, 7px, 17px, 383px, 360px, 'sprite.png', 'product-list-item-slider-hover', );
$product-list-item-slider-name: 'product-list-item-slider';
$product-list-item-slider-x: 302px;
$product-list-item-slider-y: 248px;
$product-list-item-slider-offset-x: -302px;
$product-list-item-slider-offset-y: -248px;
$product-list-item-slider-width: 7px;
$product-list-item-slider-height: 17px;
$product-list-item-slider-total-width: 383px;
$product-list-item-slider-total-height: 360px;
$product-list-item-slider-image: 'sprite.png';
$product-list-item-slider: (302px, 248px, -302px, -248px, 7px, 17px, 383px, 360px, 'sprite.png', 'product-list-item-slider', );
$product-select-trigger-blue-name: 'product-select-trigger-blue';
$product-select-trigger-blue-x: 154px;
$product-select-trigger-blue-y: 203px;
$product-select-trigger-blue-offset-x: -154px;
$product-select-trigger-blue-offset-y: -203px;
$product-select-trigger-blue-width: 28px;
$product-select-trigger-blue-height: 11px;
$product-select-trigger-blue-total-width: 383px;
$product-select-trigger-blue-total-height: 360px;
$product-select-trigger-blue-image: 'sprite.png';
$product-select-trigger-blue: (154px, 203px, -154px, -203px, 28px, 11px, 383px, 360px, 'sprite.png', 'product-select-trigger-blue', );
$product-select-trigger-white-name: 'product-select-trigger-white';
$product-select-trigger-white-x: 107px;
$product-select-trigger-white-y: 189px;
$product-select-trigger-white-offset-x: -107px;
$product-select-trigger-white-offset-y: -189px;
$product-select-trigger-white-width: 17px;
$product-select-trigger-white-height: 7px;
$product-select-trigger-white-total-width: 383px;
$product-select-trigger-white-total-height: 360px;
$product-select-trigger-white-image: 'sprite.png';
$product-select-trigger-white: (107px, 189px, -107px, -189px, 17px, 7px, 383px, 360px, 'sprite.png', 'product-select-trigger-white', );
$product-select-trigger-name: 'product-select-trigger';
$product-select-trigger-x: 85px;
$product-select-trigger-y: 189px;
$product-select-trigger-offset-x: -85px;
$product-select-trigger-offset-y: -189px;
$product-select-trigger-width: 17px;
$product-select-trigger-height: 7px;
$product-select-trigger-total-width: 383px;
$product-select-trigger-total-height: 360px;
$product-select-trigger-image: 'sprite.png';
$product-select-trigger: (85px, 189px, -85px, -189px, 17px, 7px, 383px, 360px, 'sprite.png', 'product-select-trigger', );
$product-size-hide-all-name: 'product-size-hide-all';
$product-size-hide-all-x: 208px;
$product-size-hide-all-y: 203px;
$product-size-hide-all-offset-x: -208px;
$product-size-hide-all-offset-y: -203px;
$product-size-hide-all-width: 16px;
$product-size-hide-all-height: 10px;
$product-size-hide-all-total-width: 383px;
$product-size-hide-all-total-height: 360px;
$product-size-hide-all-image: 'sprite.png';
$product-size-hide-all: (208px, 203px, -208px, -203px, 16px, 10px, 383px, 360px, 'sprite.png', 'product-size-hide-all', );
$product-size-show-all-name: 'product-size-show-all';
$product-size-show-all-x: 187px;
$product-size-show-all-y: 203px;
$product-size-show-all-offset-x: -187px;
$product-size-show-all-offset-y: -203px;
$product-size-show-all-width: 16px;
$product-size-show-all-height: 10px;
$product-size-show-all-total-width: 383px;
$product-size-show-all-total-height: 360px;
$product-size-show-all-image: 'sprite.png';
$product-size-show-all: (187px, 203px, -187px, -203px, 16px, 10px, 383px, 360px, 'sprite.png', 'product-size-show-all', );
$region-name: 'region';
$region-x: 243px;
$region-y: 295px;
$region-offset-x: -243px;
$region-offset-y: -295px;
$region-width: 22px;
$region-height: 26px;
$region-total-width: 383px;
$region-total-height: 360px;
$region-image: 'sprite.png';
$region: (243px, 295px, -243px, -295px, 22px, 26px, 383px, 360px, 'sprite.png', 'region', );
$related-slider-hover-name: 'related-slider-hover';
$related-slider-hover-x: 314px;
$related-slider-hover-y: 97px;
$related-slider-hover-offset-x: -314px;
$related-slider-hover-offset-y: -97px;
$related-slider-hover-width: 28px;
$related-slider-hover-height: 41px;
$related-slider-hover-total-width: 383px;
$related-slider-hover-total-height: 360px;
$related-slider-hover-image: 'sprite.png';
$related-slider-hover: (314px, 97px, -314px, -97px, 28px, 41px, 383px, 360px, 'sprite.png', 'related-slider-hover', );
$related-slider-name: 'related-slider';
$related-slider-x: 314px;
$related-slider-y: 143px;
$related-slider-offset-x: -314px;
$related-slider-offset-y: -143px;
$related-slider-width: 28px;
$related-slider-height: 41px;
$related-slider-total-width: 383px;
$related-slider-total-height: 360px;
$related-slider-image: 'sprite.png';
$related-slider: (314px, 143px, -314px, -143px, 28px, 41px, 383px, 360px, 'sprite.png', 'related-slider', );
$remove-small-name: 'remove-small';
$remove-small-x: 270px;
$remove-small-y: 295px;
$remove-small-offset-x: -270px;
$remove-small-offset-y: -295px;
$remove-small-width: 21px;
$remove-small-height: 22px;
$remove-small-total-width: 383px;
$remove-small-total-height: 360px;
$remove-small-image: 'sprite.png';
$remove-small: (270px, 295px, -270px, -295px, 21px, 22px, 383px, 360px, 'sprite.png', 'remove-small', );
$rub-black-name: 'rub-black';
$rub-black-x: 88px;
$rub-black-y: 333px;
$rub-black-offset-x: -88px;
$rub-black-offset-y: -333px;
$rub-black-width: 8px;
$rub-black-height: 25px;
$rub-black-total-width: 383px;
$rub-black-total-height: 360px;
$rub-black-image: 'sprite.png';
$rub-black: (88px, 333px, -88px, -333px, 8px, 25px, 383px, 360px, 'sprite.png', 'rub-black', );
$rub-grid-white-name: 'rub-grid-white';
$rub-grid-white-x: 75px;
$rub-grid-white-y: 333px;
$rub-grid-white-offset-x: -75px;
$rub-grid-white-offset-y: -333px;
$rub-grid-white-width: 8px;
$rub-grid-white-height: 25px;
$rub-grid-white-total-width: 383px;
$rub-grid-white-total-height: 360px;
$rub-grid-white-image: 'sprite.png';
$rub-grid-white: (75px, 333px, -75px, -333px, 8px, 25px, 383px, 360px, 'sprite.png', 'rub-grid-white', );
$rub-grid-name: 'rub-grid';
$rub-grid-x: 62px;
$rub-grid-y: 333px;
$rub-grid-offset-x: -62px;
$rub-grid-offset-y: -333px;
$rub-grid-width: 8px;
$rub-grid-height: 25px;
$rub-grid-total-width: 383px;
$rub-grid-total-height: 360px;
$rub-grid-image: 'sprite.png';
$rub-grid: (62px, 333px, -62px, -333px, 8px, 25px, 383px, 360px, 'sprite.png', 'rub-grid', );
$rub-small-name: 'rub-small';
$rub-small-x: 269px;
$rub-small-y: 47px;
$rub-small-offset-x: -269px;
$rub-small-offset-y: -47px;
$rub-small-width: 4px;
$rub-small-height: 12px;
$rub-small-total-width: 383px;
$rub-small-total-height: 360px;
$rub-small-image: 'sprite.png';
$rub-small: (269px, 47px, -269px, -47px, 4px, 12px, 383px, 360px, 'sprite.png', 'rub-small', );
$rub-name: 'rub';
$rub-x: 101px;
$rub-y: 333px;
$rub-offset-x: -101px;
$rub-offset-y: -333px;
$rub-width: 8px;
$rub-height: 25px;
$rub-total-width: 383px;
$rub-total-height: 360px;
$rub-image: 'sprite.png';
$rub: (101px, 333px, -101px, -333px, 8px, 25px, 383px, 360px, 'sprite.png', 'rub', );
$search-name: 'search';
$search-x: 190px;
$search-y: 223px;
$search-offset-x: -190px;
$search-offset-y: -223px;
$search-width: 18px;
$search-height: 17px;
$search-total-width: 383px;
$search-total-height: 360px;
$search-image: 'sprite.png';
$search: (190px, 223px, -190px, -223px, 18px, 17px, 383px, 360px, 'sprite.png', 'search', );
$select-trigger-name: 'select-trigger';
$select-trigger-x: 250px;
$select-trigger-y: 203px;
$select-trigger-offset-x: -250px;
$select-trigger-offset-y: -203px;
$select-trigger-width: 15px;
$select-trigger-height: 9px;
$select-trigger-total-width: 383px;
$select-trigger-total-height: 360px;
$select-trigger-image: 'sprite.png';
$select-trigger: (250px, 203px, -250px, -203px, 15px, 9px, 383px, 360px, 'sprite.png', 'select-trigger', );
$show-more-arrow-name: 'show-more-arrow';
$show-more-arrow-x: 229px;
$show-more-arrow-y: 203px;
$show-more-arrow-offset-x: -229px;
$show-more-arrow-offset-y: -203px;
$show-more-arrow-width: 16px;
$show-more-arrow-height: 9px;
$show-more-arrow-total-width: 383px;
$show-more-arrow-total-height: 360px;
$show-more-arrow-image: 'sprite.png';
$show-more-arrow: (229px, 203px, -229px, -203px, 16px, 9px, 383px, 360px, 'sprite.png', 'show-more-arrow', );
$size-available-big-name: 'size-available-big';
$size-available-big-x: 167px;
$size-available-big-y: 223px;
$size-available-big-offset-x: -167px;
$size-available-big-offset-y: -223px;
$size-available-big-width: 18px;
$size-available-big-height: 19px;
$size-available-big-total-width: 383px;
$size-available-big-total-height: 360px;
$size-available-big-image: 'sprite.png';
$size-available-big: (167px, 223px, -167px, -223px, 18px, 19px, 383px, 360px, 'sprite.png', 'size-available-big', );
$size-available-not-small-name: 'size-available-not-small';
$size-available-not-small-x: 156px;
$size-available-not-small-y: 333px;
$size-available-not-small-offset-x: -156px;
$size-available-not-small-offset-y: -333px;
$size-available-not-small-width: 11px;
$size-available-not-small-height: 11px;
$size-available-not-small-total-width: 383px;
$size-available-not-small-total-height: 360px;
$size-available-not-small-image: 'sprite.png';
$size-available-not-small: (156px, 333px, -156px, -333px, 11px, 11px, 383px, 360px, 'sprite.png', 'size-available-not-small', );
$size-available-order-small-name: 'size-available-order-small';
$size-available-order-small-x: 144px;
$size-available-order-small-y: 223px;
$size-available-order-small-offset-x: -144px;
$size-available-order-small-offset-y: -223px;
$size-available-order-small-width: 18px;
$size-available-order-small-height: 19px;
$size-available-order-small-total-width: 383px;
$size-available-order-small-total-height: 360px;
$size-available-order-small-image: 'sprite.png';
$size-available-order-small: (144px, 223px, -144px, -223px, 18px, 19px, 383px, 360px, 'sprite.png', 'size-available-order-small', );
$size-available-small-name: 'size-available-small';
$size-available-small-x: 121px;
$size-available-small-y: 223px;
$size-available-small-offset-x: -121px;
$size-available-small-offset-y: -223px;
$size-available-small-width: 18px;
$size-available-small-height: 19px;
$size-available-small-total-width: 383px;
$size-available-small-total-height: 360px;
$size-available-small-image: 'sprite.png';
$size-available-small: (121px, 223px, -121px, -223px, 18px, 19px, 383px, 360px, 'sprite.png', 'size-available-small', );
$slider-left-hover-name: 'slider-left-hover';
$slider-left-hover-x: 278px;
$slider-left-hover-y: 112px;
$slider-left-hover-offset-x: -278px;
$slider-left-hover-offset-y: -112px;
$slider-left-hover-width: 31px;
$slider-left-hover-height: 51px;
$slider-left-hover-total-width: 383px;
$slider-left-hover-total-height: 360px;
$slider-left-hover-image: 'sprite.png';
$slider-left-hover: (278px, 112px, -278px, -112px, 31px, 51px, 383px, 360px, 'sprite.png', 'slider-left-hover', );
$slider-left-name: 'slider-left';
$slider-left-x: 278px;
$slider-left-y: 168px;
$slider-left-offset-x: -278px;
$slider-left-offset-y: -168px;
$slider-left-width: 31px;
$slider-left-height: 51px;
$slider-left-total-width: 383px;
$slider-left-total-height: 360px;
$slider-left-image: 'sprite.png';
$slider-left: (278px, 168px, -278px, -168px, 31px, 51px, 383px, 360px, 'sprite.png', 'slider-left', );
$slider-right-hover-name: 'slider-right-hover';
$slider-right-hover-x: 278px;
$slider-right-hover-y: 0px;
$slider-right-hover-offset-x: -278px;
$slider-right-hover-offset-y: 0px;
$slider-right-hover-width: 31px;
$slider-right-hover-height: 51px;
$slider-right-hover-total-width: 383px;
$slider-right-hover-total-height: 360px;
$slider-right-hover-image: 'sprite.png';
$slider-right-hover: (278px, 0px, -278px, 0px, 31px, 51px, 383px, 360px, 'sprite.png', 'slider-right-hover', );
$slider-right-name: 'slider-right';
$slider-right-x: 278px;
$slider-right-y: 56px;
$slider-right-offset-x: -278px;
$slider-right-offset-y: -56px;
$slider-right-width: 31px;
$slider-right-height: 51px;
$slider-right-total-width: 383px;
$slider-right-total-height: 360px;
$slider-right-image: 'sprite.png';
$slider-right: (278px, 56px, -278px, -56px, 31px, 51px, 383px, 360px, 'sprite.png', 'slider-right', );
$star-white-name: 'star-white';
$star-white-x: 278px;
$star-white-y: 224px;
$star-white-offset-x: -278px;
$star-white-offset-y: -224px;
$star-white-width: 19px;
$star-white-height: 18px;
$star-white-total-width: 383px;
$star-white-total-height: 360px;
$star-white-image: 'sprite.png';
$star-white: (278px, 224px, -278px, -224px, 19px, 18px, 383px, 360px, 'sprite.png', 'star-white', );
$success-rounded-cart-name: 'success-rounded-cart';
$success-rounded-cart-x: 231px;
$success-rounded-cart-y: 155px;
$success-rounded-cart-offset-x: -231px;
$success-rounded-cart-offset-y: -155px;
$success-rounded-cart-width: 39px;
$success-rounded-cart-height: 39px;
$success-rounded-cart-total-width: 383px;
$success-rounded-cart-total-height: 360px;
$success-rounded-cart-image: 'sprite.png';
$success-rounded-cart: (231px, 155px, -231px, -155px, 39px, 39px, 383px, 360px, 'sprite.png', 'success-rounded-cart', );
$success-rounded-name: 'success-rounded';
$success-rounded-x: 62px;
$success-rounded-y: 141px;
$success-rounded-offset-x: -62px;
$success-rounded-offset-y: -141px;
$success-rounded-width: 43px;
$success-rounded-height: 43px;
$success-rounded-total-width: 383px;
$success-rounded-total-height: 360px;
$success-rounded-image: 'sprite.png';
$success-rounded: (62px, 141px, -62px, -141px, 43px, 43px, 383px, 360px, 'sprite.png', 'success-rounded', );
$twitter-name: 'twitter';
$twitter-x: 208px;
$twitter-y: 295px;
$twitter-offset-x: -208px;
$twitter-offset-y: -295px;
$twitter-width: 30px;
$twitter-height: 30px;
$twitter-total-width: 383px;
$twitter-total-height: 360px;
$twitter-image: 'sprite.png';
$twitter: (208px, 295px, -208px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'twitter', );
$uralsib-name: 'uralsib';
$uralsib-x: 0px;
$uralsib-y: 92px;
$uralsib-offset-x: 0px;
$uralsib-offset-y: -92px;
$uralsib-width: 114px;
$uralsib-height: 44px;
$uralsib-total-width: 383px;
$uralsib-total-height: 360px;
$uralsib-image: 'sprite.png';
$uralsib: (0px, 92px, 0px, -92px, 114px, 44px, 383px, 360px, 'sprite.png', 'uralsib', );
$view-3d-name: 'view-3d';
$view-3d-x: 0px;
$view-3d-y: 0px;
$view-3d-offset-x: 0px;
$view-3d-offset-y: 0px;
$view-3d-width: 87px;
$view-3d-height: 87px;
$view-3d-total-width: 383px;
$view-3d-total-height: 360px;
$view-3d-image: 'sprite.png';
$view-3d: (0px, 0px, 0px, 0px, 87px, 87px, 383px, 360px, 'sprite.png', 'view-3d', );
$visa-name: 'visa';
$visa-x: 110px;
$visa-y: 141px;
$visa-offset-x: -110px;
$visa-offset-y: -141px;
$visa-width: 53px;
$visa-height: 34px;
$visa-total-width: 383px;
$visa-total-height: 360px;
$visa-image: 'sprite.png';
$visa: (110px, 141px, -110px, -141px, 53px, 34px, 383px, 360px, 'sprite.png', 'visa', );
$vk-name: 'vk';
$vk-x: 173px;
$vk-y: 295px;
$vk-offset-x: -173px;
$vk-offset-y: -295px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 383px;
$vk-total-height: 360px;
$vk-image: 'sprite.png';
$vk: (173px, 295px, -173px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'vk', );
$warning-red-cart-name: 'warning-red-cart';
$warning-red-cart-x: 178px;
$warning-red-cart-y: 50px;
$warning-red-cart-offset-x: -178px;
$warning-red-cart-offset-y: -50px;
$warning-red-cart-width: 38px;
$warning-red-cart-height: 33px;
$warning-red-cart-total-width: 383px;
$warning-red-cart-total-height: 360px;
$warning-red-cart-image: 'sprite.png';
$warning-red-cart: (178px, 50px, -178px, -50px, 38px, 33px, 383px, 360px, 'sprite.png', 'warning-red-cart', );
$warning-red-name: 'warning-red';
$warning-red-x: 354px;
$warning-red-y: 104px;
$warning-red-offset-x: -354px;
$warning-red-offset-y: -104px;
$warning-red-width: 28px;
$warning-red-height: 25px;
$warning-red-total-width: 383px;
$warning-red-total-height: 360px;
$warning-red-image: 'sprite.png';
$warning-red: (354px, 104px, -354px, -104px, 28px, 25px, 383px, 360px, 'sprite.png', 'warning-red', );
$warning-name: 'warning';
$warning-x: 354px;
$warning-y: 134px;
$warning-offset-x: -354px;
$warning-offset-y: -134px;
$warning-width: 28px;
$warning-height: 25px;
$warning-total-width: 383px;
$warning-total-height: 360px;
$warning-image: 'sprite.png';
$warning: (354px, 134px, -354px, -134px, 28px, 25px, 383px, 360px, 'sprite.png', 'warning', );
$youtube-name: 'youtube';
$youtube-x: 103px;
$youtube-y: 295px;
$youtube-offset-x: -103px;
$youtube-offset-y: -295px;
$youtube-width: 30px;
$youtube-height: 30px;
$youtube-total-width: 383px;
$youtube-total-height: 360px;
$youtube-image: 'sprite.png';
$youtube: (103px, 295px, -103px, -295px, 30px, 30px, 383px, 360px, 'sprite.png', 'youtube', );
$zoom-name: 'zoom';
$zoom-x: 213px;
$zoom-y: 223px;
$zoom-offset-x: -213px;
$zoom-offset-y: -223px;
$zoom-width: 16px;
$zoom-height: 15px;
$zoom-total-width: 383px;
$zoom-total-height: 360px;
$zoom-image: 'sprite.png';
$zoom: (213px, 223px, -213px, -223px, 16px, 15px, 383px, 360px, 'sprite.png', 'zoom', );
$spritesheet-width: 383px;
$spritesheet-height: 360px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($alfa-bank, $arrow-to-top, $basket-grid-hover, $basket-grid, $basket-rounded, $basket, $btn-size, $cart-popup-slider, $cart-slider, $catalog-btn, $catalog-slider-hover, $catalog-slider, $checkbox-checked-big, $checkbox-checked, $color-transp, $contacts-address-active, $contacts-address, $contacts-email, $contacts-phone, $contacts-time, $coolmax, $credit, $facebook, $file-upload, $filter-trigger, $heading-checkout, $heading-contacts, $heading-delivery, $heading-feedback, $heading-office, $heading-regions, $heading-share, $heading-warranty, $heart-o, $instagram, $logout, $main-menu-arrow-hover, $main-menu-arrow, $mastercard, $menu-heart-hover, $menu-heart, $menu-minus, $menu-plus, $menu-right, $menu, $odnoklassniki, $pagg-slider-left-hover, $pagg-slider-left, $pagination-end-hover, $pagination-end, $pagination-next-hover, $pagination-next, $paypal, $phone, $points-time-arrow, $printable-add, $printable-remove, $product-list-item-slider-hover, $product-list-item-slider, $product-select-trigger-blue, $product-select-trigger-white, $product-select-trigger, $product-size-hide-all, $product-size-show-all, $region, $related-slider-hover, $related-slider, $remove-small, $rub-black, $rub-grid-white, $rub-grid, $rub-small, $rub, $search, $select-trigger, $show-more-arrow, $size-available-big, $size-available-not-small, $size-available-order-small, $size-available-small, $slider-left-hover, $slider-left, $slider-right-hover, $slider-right, $star-white, $success-rounded-cart, $success-rounded, $twitter, $uralsib, $view-3d, $visa, $vk, $warning-red-cart, $warning-red, $warning, $youtube, $zoom, );
$spritesheet: (383px, 360px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
