$container-width: 1250px;
$gutter-width: 2rem;

$primary-color: #B0002C;
$primary-light-color: #CC1241;
$off-black: #333;
$white-color: #ffffff;
$gray-color: #b5b5b5;
$gray-light-color: #f2f3f5;
$gold-color: #9E7E3D;
$gold-light-color: #D4B476;
$blue-color: #0C9AC9;
$blue-light-color: #0BB2EA;
$green-color: #007f3d;
$green-light-color: #009746;
$sea-color: #5ec3ae;

$link-color: $off-black;
$link-color-hover: $primary-color;
$input-border-color: $gray-color;
$input-focus-color: $off-black;
$placeholder-text-color: #CDCED1;
$button-radius: 0;
$button-disabled-color: $white-color;

$font1: 'Bebas Neue', 'Arial', sans-serif;
$font2: 'Arial Narrow', sans-serif;
$img: "../img/";