.cart-item {
    font-family: $font2;
    font-size: 14px;
    display: flex;
    border: 1px solid $gray-color;
    > div {
        padding: 10px 5px;
        border-right: 1px solid $gray-color;
        &:last-of-type {
            border-right-color: transparent;
        }
    }
    .cart-item__centered {
        display: flex;
        flex-direction: column;
        .product-heading {
            margin: 0;
        }
        .cart-item-inner {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .product-heading {
        font-size: 16px;
        line-height: 24px;
    }
    .cart-item-label {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .cart-item-input {
        font-size: 12px;
        line-height: 31px;
        text-align: center;
        border: 1px solid $gray-color;
        border-radius: 2px;
        background-color: $gray-light-color;
        padding: 0 5px;
        margin-bottom: 3px;
    }
    .cart-item-count {
        width: 93px;
        .jq-number {
            input {
                font-size: 14px;
                line-height: 31px;
                font-weight: 600;
                text-align: center;
                border: 1px solid $gray-color;
                border-radius: 2px;
                background-color: $gray-light-color;
                padding: 0 5px;
                width: 82px;
            }
            .jq-number__spin {
                &.minus {
                    left: 17px;
                }
                &.plus {
                    right: 17px;
                }
            }
        }
    }
    .cart-item-color {
        width: 92px;
        .cart-item-input-color {
            width: 27px;
            height: 24px;
            border: 1px solid $gray-color;
            border-radius: 4px;
            margin: 0 auto 3px;
            &_primary {
                margin-bottom: 15px;
            }
        }
    }
    .cart-item-price {
        width: 160px;
        text-align: center;
        .cart-item-price-wrapper {
            margin-bottom: 15px;
        }
        strong {
            font-size: 16px;
        }
        del {
            display: inline-block;
            margin-right: 5px;
        }
        .cart-item-count {
            width: auto;
            .jq-number {
                margin: 0 auto 47px;
                width: 82px;
            }
        }
    }
    .cart-item-size {
        width: 160px;
        text-align: center;
        .product-heading {
            line-height: 19px;
            padding: 2px 0;
        }
        .cart-item-size-text {
            font-weight: 600;
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 10px;
            &.cart-item-size-text__big {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
        .btn {
            margin: 10px auto 0;
            min-width: auto;
            width: 125px;
        }
        &__warning {
            background: linear-gradient(to top, #0186B3, #0BB2EA);
            .product-heading {
                background: linear-gradient(to bottom, #0186B3, #07A1D5 );
                color: $white-color;
                border-top-color: #076280;
            }
            .cart-item-size-text {
                margin-bottom: 30px;
            }
        }
    }
    .cart-item-image {
        width: 155px;
        display: flex;
        align-items: center;
        border-right-color: transparent;
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .cart-item-checkbox {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .jq-radio__div {
            border-color: $gray-color;
        }
    }
    .cart-item-info {
        width: 325px;
        flex: 1;
        padding: 15px;
        .cart-item-info-title {
            font-family: $font1;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            text-align: center;
        }
        .cart-item-info-list {
            overflow: hidden;
            margin: 7px 0 0;
            dt {
                clear: left;
                float: left;
                padding-left: 7px;
            }
            dd {
                font-weight: 600;
                padding-left: 100px;
                padding-right: 7px;
                margin: 0;
                text-align: right;
                border-bottom: 1px solid $gray-color;
                &:last-of-type {
                    border-bottom-color: transparent;                    
                }
                .blue {
                    font-family: $font1;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
    .cart-item-material {
        width: 182px;
        .cart-item-input {
            margin: 7px 0 10px;
        }
    }
    .cart-item-maket {
        width: 409px;
        text-align: center;
        .cart-item-maket-wrapper {
            border: 1px solid $gray-color;
            border-radius: 4px;
            padding: 5px;
            display: inline-block;
        }
    }
    .cart-item-actions {
        display: flex;
        align-items: center;
        font-size: 0;
        a {
            display: block;
            border-radius: 2px;
            font-size: 16px;
            line-height: 31px;
            text-align: center;
            color: $white-color;
            font-family: $font1;
            font-weight: 600;
            margin: 8px auto;
            &.cart-item-actions-copy {
                width: 41px;
                background: linear-gradient(to top, #666565, #7F7F7F);
            }
            &.cart-item-actions-remove {
                width: 29px;
                background: $primary-color;
            }
            &.cart-item-actions-option {
                width: 80px;
                height: 53px;
                font-size: 14px;
                line-height: 15px;
                padding: 0 15px;
                background: linear-gradient(to top, $blue-color, $blue-light-color);
                display: flex;
                align-items: center;
            }
        }
    }
    .cart-item-design {
        width: 185px;
        img {
            display: block;
            max-width: 100%;
            margin: 5px auto;
        }
        .cart-item-design-text {
            margin: 0;
            text-align: center;
        }
    }
    .cart-item-print {
        width: 145px;
    }
    &.style1 {
        .cart-item-info {
            .cart-item-info-list {
                text-transform: uppercase;
                dd {
                    font-weight: normal;
                    padding-left: 85px;
                }
            }
        }
        .cart-item-color {
            width: 182px;
            .product-heading {
                margin-bottom: 53px;
            }
            .cart-item-input-color {
                width: 36px;
                height: 31px;
            }
        }
        .cart-item-print {
            width: 212px;
        }
        .cart-item-price {
            width: 183px;
        }
    }
    &.style2 {
        .cart-item-image {
            width: 110px;
        }
        .cart-item-info {
            .cart-item-info-list {
                dd {
                    padding-left: 85px;
                }
            }
        }
        .cart-item-wrapper {
            width: 653px;
            padding: 0;
            .cart-item-wrapper-top {
                padding: 10px 5px;
                border-bottom: 1px solid $gray-color;
                &:last-of-type {
                    border-bottom: none;
                }
            }
            .cart-item-wrapper-bottom {
                display: flex;
                > div {
                    flex: 1;
                    padding: 10px 5px;
                    border-right: 1px solid $gray-color;
                    &:last-of-type {
                        border-right-color: transparent;
                    }
                }
                &:first-of-type {
                    height: 100%;
                    .product-heading {
                        margin-bottom: 25px;
                    }
                }
                .cart-item-color {
                    .cart-item-input-color {
                        width: 36px;
                        height: 31px;
                    }
                }
                .cart-item-dop {
                    text-align: center;
                    input {
                        width: 47px;
                        height: 31px;
                    }
                }
                .cart-item-count {
                    .jq-number {
                        margin: 0 auto;
                        width: 47px;
                        input {
                            width: 100%;
                        }
                        .jq-number__spin {
                            &.minus { left: 0;}
                            &.plus { right: 0;}
                        }
                    }
                }
            }
        }
        .cart-item-price {
            width: 162px;
        }
        .cart-item-actions {
            width: 44px;
            a {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.cart {
    .page-h1 {
        margin-bottom: 40px;
        span {
            position: relative;
            display: inline-block;
            width: 185px;
            text-align: left;
            &:after {
                position: absolute;
                content: '';
                @include sprite($basket-rounded);
                right: 0px;
                top: -5px;
            }
        }
    }
    .cart-h3 {
        @extend .page-h1;
        font-size: 26px;
        line-height: 33px;
    }
    .cart-stratch {
        font-family: $font2;
        text-align: center;
        border-top: 1px solid $gray-color;
        border-bottom: 1px solid $gray-color;
        margin: 3rem 0 5rem;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        p {
            line-height: 18px;
            font-size: 16px;
            padding: 0px 15%;
            margin: 1rem 0;
            &.bebas {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 0;
                del, span {
                    display: inline-block;
                }
                del {
                    font-size: 14px;
                    margin-left: 10px;
                }
                .cart-stratch-economy{
                    font-size: 19px;
                    margin-left: 40px;
                }
            }
            &.cart-stratch_small {
                font-size: 14px;
                padding: 0;
                margin-top: .5rem;
            }
        }
        .btn {
            margin: .5rem 0 1rem;
            padding: 0 30px;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                @include sprite($success-rounded);
                transform: skewX(15deg);
                right: -20px;
                top: -15px;
            }
        }
    }
    .cart-accent {
        font-family: $font1;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        background-color: $primary-color;
        color: $white-color;
        margin-bottom: 1rem;
    }
    .icon-catalog-btn {
        margin-right: 10px;
    }
    .cart-price {
        font-family: $font1;
        font-size: 22px;
        font-weight: 600;
        color: $primary-color;
        &_a {
            &:after {
                display: inline;
                content: '*';
                color: $off-black;
            }
        }
    }
    .cart-item {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
    }
    .product-data-list-wrapper {
        border: none;
        margin: 0 1px;
        outline: none;
        label, input {
            font-size: 14px;
        }
    }
    .slick-list {
        padding: 0 80px;
        &:before, &:after {
            position: absolute;
            content: '';
            top: 0;
            width: 80px;
            height: 100%;
        }
        &:before {
            left: 0;
            background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
            z-index: 2;
        }
        &:after {
            right: 0;
            background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
        }
    }
    .slick-prev,
    .slick-next {
        width: 11px;
        height: 26px;
        background-color: transparent;
        margin-top: -13px;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            @include sprite($cart-slider);

        }
        &.slick-disabled, &.slick-disabled:focus, &.slick-disabled:hover {
            pointer-events: none;
            &:before {
                opacity: .5;
            }
        }
    }
    .slick-prev {
        z-index: 2;
        left: 0;
        transform: rotate(180deg);
    }

    .slick-next {
        right: 0;
        transform: none;
    }
    .row {
        display: flex;
        .col {
            flex: 1;
        }
    }
    .cart-delivery {
        height: 100%;
        .cart-delivery-heading {
            border: 1px solid $gray-color;
            background-color: #dfe2e8;
            font-family: $font1;
            font-weight: 600;
            font-size: 26px;
            line-height: 38px;
            text-align: center;
        }
        label {
            display: block;
            border: 1px solid $gray-color;
            border-top: none;
            background-color: $gray-light-color;
            font-size: 14px;
            line-height: 43px;
            padding-left: 33px;
            &:last-of-type {
                border-bottom: none;
            }
            .jq-radio {
                vertical-align: middle;
                margin-right: 17px;
            }
        }
        .cart-delivery-footer {
            border: 1px solid $gray-color;
            background-color: $gray-light-color;
            padding: 10px 10px 10px 33px;
            overflow: hidden;
            a {
                float: left;
            }
            p {
                padding-left: 230px;
                margin: 0;
                font-family: $font2;
                font-size: 9px;
                line-height: 10px;
            }
        }
        .cart-delivery-heading, label, .cart-delivery-footer {
            @include pseudoInnerShadowLeftRight('popup');
        }
    }
    .cart-summary {
        height: 100%;
        background-color: $gray-light-color;
        border: 1px solid $gray-color;
        @include pseudoInnerShadowLeftRight('popup');
        ul {
            margin: 0;
            li {
                padding: 10px 23px;
                border-bottom: 1px solid $gray-color;
                &:last-of-type {
                    border-bottom: none;
                }
                overflow: hidden;
                .cart-summary-desc {
                    float: left;
                    font-family: $font1;
                    font-size: 16px;
                    font-weight: 600;
                    input {
                        width: 198px;
                        height: 31px;
                        padding: 0 10px;
                        background-color: $white-color;
                        border: 1px solid $gray-color;
                        border-radius: 3px;
                        font-family: sans-serif;
                        font-weight: normal;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
                .cart-summary-price {
                    float: right;
                    font-family: $font2;
                    font-size: 13px;
                    font-weight: 600;
                    .bebas {
                        font-size: 16px;
                    }
                    del {
                        display: inline-block;
                        font-family: $font1;
                        margin-right: 10px;
                    }
                    &.cart-summary-price-discount {
                        font-family: $font1;
                        font-size: 22px;
                        color: $blue-color;
                    }
                }
                .cart-summary-a {
                    clear: both;
                    text-align: right;
                    font-family: $font2;
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
        .cart-summary-total {
            background-color: $gold-light-color;
            @include pseudoInnerShadowLeftRight('gold');
            border-top: 1px solid $gray-color;
            border-bottom: 1px solid $gray-color;
            padding: 20px 23px;
            font-family: $font1;
            font-weight: 600;
            font-size: 39px;
            overflow: hidden;
            del {
                font-size: 26px;                
            }
            .cart-summary-total-a {
                clear: both;
                text-align: right;
                font-family: $font2;
                font-size: 13px;
                font-weight: normal;
                line-height: 15px;
                position: relative;
                float: right;
                span {
                    font-family: $font1;
                    font-weight: 600;
                    font-size: 39px;
                    position: absolute;
                    left: -23px;
                    top: 5px;
                }
            }
        }
        .cart-summary-economy {
            font-family: $font1;
            font-weight: 600;
            text-align: center;
            font-size: 22px;
            border-bottom: 1px solid $gray-color;
        }
        .cart-summary-footer {
            text-align: center;
            a {
                width: 439px;
                margin-top: 10px;
            }
            .cart-summary-footer-a {
                font-family: $font2;
                font-size: 14px;
                margin: 20px 0;
            }
        }
    }
    .cart-continue {
        margin-top: 4rem;
        text-align: center;
        a {
            width: 280px;
        }
    }
}