.share {
    .share-introtext {
        padding: 0 50px;
    }
    .share-social {
        font-family: $font1;
        font-size: 19px;
        font-weight: 600;
        line-height: 10px;
        text-align: center;
        margin: 50px 0;
        .social {
            display: inline;
            margin-left: 5px;
        }
    }
    .share-h3 {
        text-align: center;
        font-family: $font1;
        font-size: 29px;
        line-height: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .share-search {
        margin-bottom: 40px;
        .row {
            padding: 0 3rem;
        }
        input {
            @extend .input-default;
            display: inline-block;
            margin-bottom: 0;
        }
        .input-group {
            display: inline-block;
        }
        .share-search-{
            &1 {
                label { width: 64px; }
                .select-default, input { width: 130px; }
                .select-default, input { margin-right: 16px; }
            }
            &2 {
                label { width: 67px; }
                .select-default, input { width: 265px; }
            }
            &3 {
                label { width: 213px; }
                input { width: 342px; }
            }
            &5 {
                label { width: 85px; }
                .select-default, input { width: 470px; }
            }
            &6 {
                label { width: 142px; }
                input { width: 413px; }
            }
            &7 {
                label { width: 160px; }
                input { width: 395px; }
            }
        }
        .btn {
            width: 278px;
            display: block;
            margin: 20px auto 0;
        }
    }
    .share-item {
        .share-search {
            margin: 0 -1px 20px;
            .share-h3 {
                font-size: 19px;
                margin-bottom: 10px;
            }
            .input-group {
                label {
                    display: default;
                }
                input {
                    display: inline-block;
                    background-color: $gray-light-color;
                    font-weight: 600;
                    pointer-events: none;
                }
            }
        }
        .share-item-row {
            margin: 0 3rem 25px;
            .cart-item {
                .cart-item-maket {
                    width: 300px;
                }
                .cart-item-design {
                    width: auto;
                }
            }
            .share-item-footer {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 35px;
                border: 1px solid $gray-color;
                background-color: $gray-light-color;;
                font-family: $font2;
                .product-data-list-wrapper {
                    padding-left: 40px;
                    padding-right: 50px;
                }
                .share-count {
                    margin-bottom: 20px;
                    .bebas {
                        font-weight: 600;
                    }
                }
                .share-price {
                    .btn {
                        margin-right: 30px;
                    }                    
                }
                .share-price, .share-count {
                    > * {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .share-price-price {
                        font-family: $font1;
                        font-weight: 600;
                        font-size: 37px;
                        color: $primary-color;
                        line-height: 30px;
                    }
                }
                .share-item-footer-right {
                    text-align: center;
                    line-height: 18px;
                    padding-right: 40px;
                    .btn {
                        width: 285px;
                        margin-top: 22px;
                    }
                }
            }
        }
        .share-social {
            font-size: 29px;
            text-align: center;
            margin: 50px 0;
        }
    }
    &.share-popup {
        .container {
            padding: 20px 0;
        }
        .share-item-row {
            margin-left: 25px;
            margin-right: 25px;
        }
        .share-item {
            border-left-width: 0;
            border-right-width: 0;
        }
        .share-search {
            margin-top: 50px;
            .row {
                padding: 0 25px;
            }
            .share-search-2 input {
                width: 214px;
            }
            .share-search-3 input {
                width: 291px;
            }
            .share-search-5 input {
                width: 419px;
            }
            .share-search-6 input {
                width: 362px;
            }
            .share-search-7 input {
                width: 344px;
            }
        }
        .share-item-heading {
            font-weight: normal;
            strong {
                display: inline-block;
                margin-left: 15px;
            }
            li {
                margin-right: 55px;
            }
        }
        .wrapper {
            padding: 25px 0;
        }
    }
}
#share {
    .about-add {
        margin-bottom: 30px;
    }
}